In [3]:
## for data
import pandas as pd
import numpy as np
import re
from datetime import datetime
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for machine learning
from sklearn import metrics, preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances

In [4]:
df_ratings = pd.read_csv('datasets/to_use/ratings_cleaned.csv')
df_ratings.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df_ratings

          userId  movieId  rating
0         147413        1     3.5
1         103254        1     3.0
2           5320        1     5.0
3           1317        1     3.0
4          29725        1     3.5
...          ...      ...     ...
13524164   39183   208941     3.0
13524165   92412   208943     2.0
13524166   84238   209041     3.0
13524167   15152   209053     3.5
13524168  145795   209145     1.0

[13524169 rows x 3 columns]

In [6]:
df_movies_full = pd.read_csv("datasets/to_use/movies_web_app_with_id_final.csv", dtype = {'movieId': int}) #still have UI information 
df_movies = df_movies_full.iloc[:, 7:]
df_movies_original = df_movies.copy() #still have movieId

In [7]:
df_movies_full

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,Toy Story (1995),8.3,997000.0,Toy Story,1995,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,A cowboy doll is profoundly threatened and jea...,1,0,0,...,0,0,0,0,0,1,0,0,0,1
1,Jumanji (1995),7.0,351000.0,Jumanji,1995,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,When two kids find and play a magical board ga...,2,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Waiting to Exhale (1995),5.9,11000.0,Waiting to Exhale,1995,NaN,NaN,4,0,0,...,0,0,0,0,1,0,0,0,1,0
3,Tom and Huck (1995),5.5,11000.0,Tom and Huck,1995,NaN,NaN,8,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Nixon (1995),7.1,32000.0,Nixon,1995,NaN,NaN,14,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82665,Üç Sevgili (1972),5.5,187.0,Üç Sevgili,1972,NaN,NaN,269115,0,0,...,1,1,0,0,0,0,0,0,1,0
82666,Üç arkadas (1972),6.9,494.0,Üç arkadas,1972,NaN,NaN,269116,0,0,...,1,1,0,0,0,0,0,0,1,0
82667,Üçüncü Sayfa (1999),7.3,3900.0,Üçüncü Sayfa,1999,NaN,NaN,269117,0,0,...,1,0,0,1,0,0,0,0,1,0
82668,Þrestir (2015),6.8,1600.0,Þrestir,2015,NaN,NaN,269118,0,0,...,1,0,0,1,0,0,0,0,1,0
82669,緣路山旮旯 (2021),6.5,248.0,緣路山旮旯,2021,NaN,NaN,269119,0,0,...,1,1,0,0,0,0,0,0,1,0

In [8]:
df_movies_original

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,1,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,2,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,4,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,8,0,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
4,14,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82665,269115,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
82666,269116,0,0,0,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,1,0
82667,269117,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
82668,269118,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
82669,269119,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [9]:
df_movies.set_index('movieId', inplace=True)

In [10]:
df_movies

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
8,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
14,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269115,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
269116,0,0,0,0,0,1,0,0,1,0,...,1,1,0,0,0,0,0,0,1,0
269117,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
269118,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
269119,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [11]:
df_movies_full[df_movies_full.title_only == 'Frozen']

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
7262,Frozen (2007),7.0,218.0,Frozen,2007,NaN,NaN,82452,0,0,...,0,1,0,0,0,0,0,0,1,0

In [12]:
#dummy data for 1 movie only
movie_id = int('55820')
movie_name = 'No Country for Old Men (2007)'

movie_id = int('82452')
movie_name = 'Frozen (2007)	'

In [13]:
target_movie_cosine_sim_index = df_movies_original.index[df_movies_original['movieId'] == movie_id].values[0] #get 0-based index in cosine similarity array
target_movie_cosine_sim_index

7262

In [14]:
# df_movies_original[df_movies_original['movieId'] == movie_id]

In [15]:
target_movie = df_movies.loc[[movie_id]]
target_movie

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
movieId,,,,,,,,,,,,,,,,,,,,,
82452,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0

# combining multiple movies into 1 vector

In [16]:
df_ratings.userId.value_counts()

72315     12252
80974      4956
137293     3888
33844      3797
20055      3493
          ...
67696         2
82608         2
26880         2
3784          2
117741        1
Name: userId, Length: 162541, dtype: int64

In [17]:
userId = 72315

movie_id_df = df_ratings.loc[df_ratings['userId']==userId]
# movie_id_df

user_movies = df_movies_original[df_movies_original['movieId'].isin(movie_id_df['movieId'].tolist())]
# user_movies.set_index('movieId', inplace=True)
user_movies

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,1,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,2,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,14,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
5,15,1,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,16,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22505,206337,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
22506,206347,0,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
22508,206353,0,0,0,0,0,1,0,0,1,...,1,1,0,0,0,0,0,1,0,0
22543,206755,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
22545,206795,0,0,0,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [18]:
# USING DUMMY DATA

userId = 696969

df_ratings = pd.read_csv('datasets/to_use/ratings_custom_wilson.csv')

movie_id_df = df_ratings.loc[df_ratings['userId']==userId]
# movie_id_df

user_movies = df_movies_original[df_movies_original['movieId'].isin(movie_id_df['movieId'].tolist())]
# user_movies.set_index('movieId', inplace=True)
user_movies

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
171,364,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
3763,8360,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5444,50872,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
5867,59315,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
6612,72998,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
6819,77561,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
7850,89745,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8022,91630,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8319,95167,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8977,103688,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
9082,104908,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
22560,206959,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
39252,225702,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
67600,254050,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
76944,263394,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1

In [19]:
rating_df=df_ratings.loc[df_ratings['userId']==userId][['movieId','rating']]
rating_df = rating_df[rating_df['movieId'].isin(user_movies['movieId'].tolist())]

rating_df.set_index('movieId', inplace=True)
rating_df

         rating
movieId
59315         5
77561         5
89745         3
206959        5
72998         4
104908        1
103688        2
263394        4
91630         4
225702        5
50872         3
254050        3
8360          3
95167         4
364           4

In [20]:
user_movies.set_index('movieId', inplace=True)
user_movies

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
movieId,,,,,,,,,,,,,,,,,,,,,
364,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
8360,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
50872,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
59315,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
72998,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
77561,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
89745,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
91630,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
95167,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
103688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
104908,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
206959,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
225702,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
254050,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
263394,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [21]:
user_movies.shape[0]

15

In [22]:
userProfile = rating_df.transpose().dot(user_movies)
userProfile = userProfile / user_movies.shape[0]
userProfile

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
rating,2.0,0.0,2.866667,1.466667,0.0,1.2,0.333333,0.0,0.533333,0.0,...,0.0,0.0,0.0,0.0,0.0,3.666667,0.0,0.0,2.133333,1.533333

In [23]:
userProfile.transpose().sort_values(by='rating', ascending=False)

                         rating
num_rating_super_high  3.666667
Adventure              2.866667
imdb_rating_high       2.133333
PG-13                  2.066667
Action                 2.000000
...                         ...
GP                     0.000000
Documentary            0.000000
M                      0.000000
M/PG                   0.000000
K-A                    0.000000

[85 rows x 1 columns]

In [24]:
target_movie = userProfile.copy()

# checkpoint before applying cosine sim

In [25]:
normalised_df_movies = df_movies.astype(np.float32)

cosine_sim = cosine_similarity(normalised_df_movies, target_movie)
# euclid_dist = euclidean_distances(normalised_df_movies, target_movie)

In [26]:
cosine_sim
# euclid_dist

array([[0.69246711],
       [0.67185797],
       [0.24730968],
       ...,
       [0.20192751],
       [0.20192751],
       [0.22576182]])

In [27]:
similar_movies = list(enumerate(cosine_sim.flatten()))
# similar_movies
sorted_similar_movies = sorted(similar_movies, key=lambda x:x[1], reverse=True)

sorted_similar_movies

[(292, 0.862410154282746),
 (5877, 0.862410154282746),
 (78295, 0.862410154282746),
 (232, 0.861462063894709),
 (888, 0.861462063894709),
 (1681, 0.861462063894709),
 (1842, 0.861462063894709),
 (2222, 0.861462063894709),
 (2626, 0.861462063894709),
 (3214, 0.861462063894709),
 (4904, 0.861462063894709),
 (5475, 0.861462063894709),
 (5920, 0.861462063894709),
 (6959, 0.861462063894709),
 (8974, 0.861462063894709),
 (9779, 0.861462063894709),
 (13269, 0.861462063894709),
 (14005, 0.861462063894709),
 (18907, 0.861462063894709),
 (20304, 0.861462063894709),
 (21996, 0.861462063894709),
 (40255, 0.861462063894709),
 (53982, 0.861462063894709),
 (55828, 0.861462063894709),
 (55829, 0.861462063894709),
 (71400, 0.861462063894709),
 (76270, 0.861462063894709),
 (56834, 0.8408529236101467),
 (100, 0.8408529236101466),
 (693, 0.8408529236101466),
 (848, 0.8408529236101466),
 (1710, 0.8408529236101466),
 (2173, 0.8408529236101466),
 (2175, 0.8408529236101466),
 (2451, 0.8408529236101466),
 (2550, 0.8408529236101466),
 (3764, 0.8408529236101466),
 (4843, 0.8408529236101466),
 (5188, 0.8408529236101466),
 (5910, 0.8408529236101466),
 (6300, 0.8408529236101466),
 (6360, 0.8408529236101466),
 (6413, 0.8408529236101466),
 (6819, 0.8408529236101466),
 (7454, 0.8408529236101466),
 (7648, 0.8408529236101466),
 (7706, 0.8408529236101466),
 (8007, 0.8408529236101466),
 (8179, 0.8408529236101466),
 (8758, 0.8408529236101466),
 (8921, 0.8408529236101466),
 (8932, 0.8408529236101466),
 (9489, 0.8408529236101466),
 (9561, 0.8408529236101466),
 (9668, 0.8408529236101466),
 (9778, 0.8408529236101466),
 (10179, 0.8408529236101466),
 (11027, 0.8408529236101466),
 (11034, 0.8408529236101466),
 (12913, 0.8408529236101466),
 (12969, 0.8408529236101466),
 (17323, 0.8408529236101466),
 (18246, 0.8408529236101466),
 (20122, 0.8408529236101466),
 (20215, 0.8408529236101466),
 (20789, 0.8408529236101466),
 (21420, 0.8408529236101466),
 (21896, 0.8408529236101466),
 (22033, 0.8408529236101466),
 (23056, 0.8408529236101466),
 (29451, 0.8408529236101466),
 (29475, 0.8408529236101466),
 (46262, 0.8408529236101466),
 (47578, 0.8408529236101466),
 (59693, 0.8408529236101466),
 (64074, 0.8408529236101466),
 (79136, 0.8408529236101466),
 (81087, 0.8408529236101466),
 (82512, 0.8408529236101466),
 (319, 0.8367310955532341),
 (769, 0.8367310955532341),
 (1410, 0.8367310955532341),
 (1680, 0.8367310955532341),
 (2637, 0.8367310955532341),
 (2801, 0.8367310955532341),
 (5181, 0.8367310955532341),
 (8022, 0.8367310955532341),
 (9608, 0.8367310955532341),
 (9729, 0.8367310955532341),
 (22226, 0.8367310955532341),
 (58967, 0.8367310955532341),
 (68998, 0.8367310955532341),
 (77706, 0.8367310955532341),
 (5596, 0.8284874394394092),
 (9724, 0.8243656113824966),
 (11031, 0.8243656113824966),
 (591, 0.8217730265940302),
 (488, 0.8202437833255842),
 (3311, 0.8202437833255842),
 (5032, 0.8202437833255842),
 (5806, 0.8202437833255842),
 (6836, 0.8202437833255842),
 (7516, 0.8202437833255842),
 (7975, 0.8202437833255842),
 (8809, 0.8202437833255842),
 (16273, 0.8202437833255842),
 (17447, 0.8202437833255842),
 (29452, 0.8202437833255842),
 (57330, 0.8202437833255842),
 (74731, 0.8202437833255842),
 (75579, 0.8202437833255842),
 (2041, 0.8120001272117592),
 (5374, 0.8120001272117592),
 (7440, 0.8120001272117592),
 (8543, 0.8120001272117592),
 (14791, 0.8120001272117592),
 (17376, 0.8120001272117592),
 (21337, 0.8120001272117592),
 (64037, 0.8120001272117592),
 (3133, 0.8078782991548468),
 (6038, 0.8078782991548468),
 (38380, 0.8078782991548468),
 (45915, 0.8078782991548468),
 (58456, 0.8078782991548468),
 (229, 0.8037564710979344),
 (686, 0.8037564710979344),
 (5867, 0.8037564710979344),
 (6958, 0.8037564710979344),
 (7850, 0.8037564710979344),
 (8883, 0.8037564710979344),
 (9454, 0.8037564710979344),
 (11025, 0.8037564710979344),
 (11032, 0.8037564710979344),
 (27504, 0.8037564710979344),
 (20, 0.8037564710979342),
 (1180, 0.8037564710979342),
 (2004, 0.8037564710979342),
 (2042, 0.8037564710979342),
 (2534, 0.8037564710979342),
 (2615, 0.8037564710979342),
 (3121, 0.8037564710979342),
 (3523, 0.8037564710979342),
 (3565, 0.8037564710979342),
 (5212, 0.8037564710979342),
 (5770, 0.8037564710979342),
 (7532, 0.8037564710979342),
 (7577, 0.8037564710979342),
 (7914, 0.8037564710979342),
 (8211, 0.8037564710979342),
 (9034, 0.8037564710979342),
 (11026, 0.8037564710979342),
 (11028, 0.8037564710979342),
 (11029, 0.8037564710979342),
 (11033, 0.8037564710979342),
 (14006, 0.8037564710979342),
 (15125, 0.8037564710979342),
 (17436, 0.8037564710979342),
 (17632, 0.8037564710979342),
 (18096, 0.8037564710979342),
 (19763, 0.8037564710979342),
 (19903, 0.8037564710979342),
 (21256, 0.8037564710979342),
 (21895, 0.8037564710979342),
 (29391, 0.8037564710979342),
 (36210, 0.8037564710979342),
 (38659, 0.8037564710979342),
 (39176, 0.8037564710979342),
 (43437, 0.8037564710979342),
 (67163, 0.8037564710979342),
 (69276, 0.8037564710979342),
 (73124, 0.8037564710979342),
 (73757, 0.8037564710979342),
 (80916, 0.8037564710979342),
 (3954, 0.7996346430410218),
 (5748, 0.7996346430410218),
 (6055, 0.7996346430410218),
 (8011, 0.7996346430410218),
 (9307, 0.7996346430410218),
 (56968, 0.7996346430410218),
 (20423, 0.7996346430410217),
 (1986, 0.7955128149841093),
 (7924, 0.7955128149841093),
 (945, 0.790166371725029),
 (13866, 0.7872691588702844),
 (16549, 0.7872691588702844),
 (23893, 0.7872691588702844),
 (614, 0.7831473308133718),
 (2367, 0.7831473308133718),
 (2405, 0.7831473308133718),
 (2837, 0.7831473308133718),
 (3400, 0.7831473308133718),
 (9698, 0.7831473308133718),
 (27503, 0.7831473308133718),
 (80830, 0.7831473308133718),
 (81562, 0.7831473308133718),
 (940, 0.7749036746995468),
 (1191, 0.7749036746995468),
 (1192, 0.7749036746995468),
 (1254, 0.7749036746995468),
 (4036, 0.7749036746995468),
 (5887, 0.7749036746995468),
 (6758, 0.7749036746995468),
 (9358, 0.7749036746995468),
 (9644, 0.7749036746995468),
 (9984, 0.7749036746995468),
 (16592, 0.7749036746995468),
 (21176, 0.7749036746995468),
 (77400, 0.7749036746995468),
 (722, 0.7707818466426344),
 (1345, 0.7707818466426344),
 (1368, 0.7707818466426344),
 (1369, 0.7707818466426344),
 (3109, 0.766660018585722),
 (4787, 0.766660018585722),
 (6612, 0.766660018585722),
 (69027, 0.766660018585722),
 (325, 0.7625381905288094),
 (1033, 0.7625381905288094),
 (2476, 0.7625381905288094),
 (3763, 0.7625381905288094),
 (3998, 0.7625381905288094),
 (4667, 0.7625381905288094),
 (4796, 0.7625381905288094),
 (5186, 0.7625381905288094),
 (5387, 0.7625381905288094),
 (5703, 0.7625381905288094),
 (6082, 0.7625381905288094),
 (8313, 0.7625381905288094),
 (8319, 0.7625381905288094),
 (8762, 0.7625381905288094),
 (8946, 0.7625381905288094),
 (12952, 0.7625381905288094),
 (13035, 0.7625381905288094),
 (13955, 0.7625381905288094),
 (17461, 0.7625381905288094),
 (17988, 0.7625381905288094),
 (22560, 0.7625381905288094),
 (23610, 0.7625381905288094),
 (45141, 0.7625381905288094),
 (60327, 0.7625381905288094),
 (67600, 0.7625381905288094),
 (73897, 0.7625381905288094),
 (77619, 0.7625381905288094),
 (8, 0.7584163624718969),
 (6394, 0.7542945344149845),
 (41374, 0.7542945344149845),
 (976, 0.7542945344149844),
 (5900, 0.7495292440363134),
 (63798, 0.7495292440363132),
 (10416, 0.7450140076264561),
 (1321, 0.741929050244247),
 (4564, 0.741929050244247),
 (18464, 0.741929050244247),
 (73452, 0.741929050244247),
 (75419, 0.741929050244247),
 (251, 0.7378072221873345),
 (1184, 0.7378072221873345),
 (23291, 0.7378072221873345),
 (621, 0.7378072221873344),
 (4041, 0.733685394130422),
 (15272, 0.733685394130422),
 (296, 0.7295635660735096),
 (926, 0.7295635660735096),
 (1217, 0.7295635660735096),
 (1388, 0.7295635660735096),
 (1731, 0.7295635660735096),
 (1861, 0.7295635660735096),
 (3091, 0.7295635660735096),
 (4039, 0.7295635660735096),
 (5193, 0.7295635660735096),
 (6590, 0.7295635660735096),
 (8928, 0.7295635660735096),
 (72277, 0.7295635660735096),
 (3105, 0.7269530619870268),
 (6281, 0.7269530619870268),
 (8981, 0.7269530619870268),
 (6318, 0.7254417380165972),
 (6951, 0.7254417380165972),
 (7211, 0.7254417380165972),
 (8517, 0.7254417380165972),
 (15128, 0.7254417380165972),
 (22690, 0.7254417380165972),
 (32655, 0.7254417380165972),
 (56622, 0.7254417380165972),
 (68861, 0.7254417380165972),
 (80491, 0.7254417380165972),
 (893, 0.7254417380165971),
 (4749, 0.7254417380165971),
 (2885, 0.7224378255771695),
 (5578, 0.7224378255771695),
 (6975, 0.7224378255771695),
 (7204, 0.7224378255771695),
 (42118, 0.7224378255771695),
 (46820, 0.7224378255771695),
 (73089, 0.7224378255771695),
 (1075, 0.7213199099596845),
 (1238, 0.7213199099596845),
 (1335, 0.7213199099596845),
 (1709, 0.7213199099596845),
 (1868, 0.7213199099596845),
 (5404, 0.7213199099596845),
 (5875, 0.7213199099596845),
 (12439, 0.7213199099596845),
 (20667, 0.7213199099596845),
 (22626, 0.7213199099596845),
 (177, 0.7171980819027721),
 (204, 0.7171980819027721),
 (354, 0.7171980819027721),
 (1080, 0.7171980819027721),
 (7010, 0.7171980819027721),
 (73584, 0.7171980819027721),
 (9399, 0.7130762538458597),
 (12749, 0.7130762538458597),
 (4867, 0.7130762538458596),
 (5468, 0.7130762538458596),
 (6499, 0.7130762538458596),
 (7346, 0.7130762538458596),
 (7915, 0.7130762538458596),
 (18572, 0.7130762538458596),
 (41696, 0.7130762538458596),
 (41698, 0.7130762538458596),
 (71066, 0.7130762538458596),
 (528, 0.7089544257889472),
 (8908, 0.7089544257889472),
 (16053, 0.7089544257889472),
 (7176, 0.7089544257889471),
 (173, 0.7048325977320347),
 (557, 0.7048325977320347),
 (1023, 0.7048325977320347),
 (1867, 0.7048325977320347),
 (2210, 0.7048325977320347),
 (3329, 0.7048325977320347),
 (4808, 0.7048325977320347),
 (6996, 0.7048325977320347),
 (7327, 0.7048325977320347),
 (9232, 0.7048325977320347),
 (9305, 0.7048325977320347),
 (11030, 0.7048325977320347),
 (16212, 0.7048325977320347),
 (18297, 0.7048325977320347),
 (22028, 0.7048325977320347),
 (59728, 0.7048325977320347),
 (63652, 0.7048325977320347),
 (8578, 0.7043768799377402),
 (553, 0.7007107696751222),
 (69274, 0.7007107696751222),
 (72603, 0.7007107696751222),
 (6636, 0.7007107696751221),
 (7011, 0.7007107696751221),
 (12914, 0.7007107696751221),
 (62896, 0.7007107696751221),
 (74380, 0.7007107696751221),
 (725, 0.6965889416182097),
 (830, 0.6965889416182097),
 (5706, 0.6965889416182097),
 (6081, 0.6965889416182097),
 (7899, 0.6965889416182097),
 (16598, 0.6965889416182097),
 (53515, 0.6965889416182097),
 (75847, 0.6965889416182097),
 (0, 0.6924671135612972),
 (289, 0.6924671135612972),
 (925, 0.6924671135612972),
 (927, 0.6924671135612972),
 (1347, 0.6924671135612972),
 (2308, 0.6924671135612972),
 (2579, 0.6924671135612972),
 (3029, 0.6924671135612972),
 (5125, 0.6924671135612972),
 (5444, 0.6924671135612972),
 (6905, 0.6924671135612972),
 (8947, 0.6924671135612972),
 (9306, 0.6924671135612972),
 (17877, 0.6924671135612972),
 (72701, 0.6924671135612972),
 (2930, 0.6908311707081684),
 (583, 0.6883452855043848),
 (892, 0.6883452855043848),
 (490, 0.6883452855043847),
 (757, 0.6883452855043847),
 (2805, 0.6883452855043847),
 (5269, 0.6883452855043847),
 (62327, 0.6883452855043847),
 (105, 0.6865535371907671),
 (2272, 0.6865535371907671),
 (2989, 0.6865535371907671),
 (3280, 0.6865535371907671),
 (3564, 0.6865535371907671),
 (3862, 0.6865535371907671),
 (5297, 0.6865535371907671),
 (6508, 0.6865535371907671),
 (8884, 0.6865535371907671),
 (9022, 0.6865535371907671),
 (9254, 0.6865535371907671),
 (10204, 0.6865535371907671),
 (37016, 0.6865535371907671),
 (58184, 0.6865535371907671),
 (585, 0.6842234574474723),
 (712, 0.6842234574474723),
 (8173, 0.6842234574474723),
 (9361, 0.6842234574474723),
 (34910, 0.6842234574474723),
 (57027, 0.6842234574474723),
 (71864, 0.6842234574474723),
 (6385, 0.6842234574474721),
 (11024, 0.6842234574474721),
 (54478, 0.6842234574474721),
 (2043, 0.6801016293905597),
 (3030, 0.6801016293905597),
 (4909, 0.6801016293905597),
 (5649, 0.6801016293905597),
 (5705, 0.6801016293905597),
 (8060, 0.6801016293905597),
 (12915, 0.6801016293905597),
 (23009, 0.6801016293905597),
 (35693, 0.6801016293905597),
 (38948, 0.6801016293905597),
 (39252, 0.6801016293905597),
 (39254, 0.6801016293905597),
 (40563, 0.6801016293905597),
 (43097, 0.6801016293905597),
 (70614, 0.6801016293905597),
 (72387, 0.6801016293905597),
 (72738, 0.6801016293905597),
 (5849, 0.6772854614785965),
 (42967, 0.6772854614785965),
 (1846, 0.6759798013336473),
 (3394, 0.6759798013336473),
 (3405, 0.6759798013336473),
 (3864, 0.6759798013336473),
 (7624, 0.6759798013336473),
 (9867, 0.6759798013336473),
 (20772, 0.6759798013336473),
 (626, 0.6727702250687391),
 (2030, 0.6727702250687391),
 (1, 0.6718579732767348),
 (913, 0.6718579732767348),
 (1448, 0.6718579732767348),
 (2140, 0.6718579732767348),
 (2589, 0.6718579732767348),
 (4562, 0.6718579732767348),
 (5266, 0.6718579732767348),
 (6026, 0.6718579732767348),
 (6301, 0.6718579732767348),
 (8601, 0.6718579732767348),
 (9403, 0.6718579732767348),
 (10332, 0.6718579732767348),
 (21855, 0.6718579732767348),
 (24156, 0.6718579732767348),
 (72150, 0.6718579732767348),
 (78521, 0.6718579732767348),
 (1287, 0.6677361452198223),
 (8009, 0.6637397522490244),
 (76944, 0.6637397522490244),
 (634, 0.6636143171629099),
 (1652, 0.6636143171629099),
 (5343, 0.6636143171629099),
 (5790, 0.6636143171629099),
 (7206, 0.6636143171629099),
 (13458, 0.6636143171629099),
 (17019, 0.6636143171629099),
 (17485, 0.6636143171629099),
 (291, 0.6594924891059974),
 (1239, 0.6594924891059974),
 (7763, 0.6594924891059974),
 (5914, 0.6594924891059973),
 (9204, 0.6594924891059973),
 (9915, 0.6594924891059973),
 (7479, 0.6553706610490849),
 (16011, 0.6553706610490849),
 (934, 0.6553706610490848),
 (28376, 0.6553706610490848),
 (171, 0.6512488329921724),
 (530, 0.6512488329921724),
 (1398, 0.6512488329921724),
 (5646, 0.6512488329921724),
 (8312, 0.6512488329921724),
 (9568, 0.6512488329921724),
 (21346, 0.6512488329921724),
 (26718, 0.6512488329921724),
 (28369, 0.6512488329921724),
 (29946, 0.6512488329921724),
 (29949, 0.6512488329921724),
 (36557, 0.6512488329921724),
 (43066, 0.6512488329921724),
 (60229, 0.6512488329921724),
 (60232, 0.6512488329921724),
 (63064, 0.6512488329921724),
 (65306, 0.6512488329921724),
 (65703, 0.6512488329921724),
 (66749, 0.6512488329921724),
 (70148, 0.6512488329921724),
 (79949, 0.6512488329921724),
 (240, 0.6501940430194525),
 (1221, 0.6501940430194525),
 (5211, 0.6501940430194525),
 (5712, 0.6501940430194525),
 (9001, 0.6501940430194525),
 (9186, 0.6501940430194525),
 (20983, 0.6501940430194525),
 (75851, 0.6501940430194525),
 (81886, 0.64712700493526),
 (2017, 0.6430051768783475),
 (6588, 0.6430051768783475),
 (1631, 0.6430051768783474),
 (5594, 0.6430051768783474),
 (7210, 0.6430051768783474),
 (42975, 0.6430051768783474),
 (1336, 0.6411198472296133),
 (1942, 0.6388833488214349),
 (7570, 0.6388833488214349),
 (3500, 0.6366483337898806),
 (3830, 0.6366483337898806),
 (5055, 0.6366483337898806),
 (1142, 0.6366483337898805),
 (1837, 0.6360716594561518),
 (8869, 0.6360716594561518),
 (10331, 0.6360716594561518),
 (26133, 0.6360716594561518),
 (417, 0.6347615207645225),
 (887, 0.6347615207645225),
 (2588, 0.6347615207645225),
 (3874, 0.6347615207645225),
 (5, 0.6347615207645224),
 (839, 0.6347615207645224),
 (1024, 0.6347615207645224),
 (1234, 0.6347615207645224),
 (2773, 0.6347615207645224),
 (3129, 0.6347615207645224),
 (3491, 0.6347615207645224),
 (5837, 0.6347615207645224),
 (6017, 0.6347615207645224),
 (6306, 0.6347615207645224),
 (6340, 0.6347615207645224),
 (9589, 0.6347615207645224),
 (13786, 0.6347615207645224),
 (16988, 0.6347615207645224),
 (42823, 0.6347615207645224),
 (51896, 0.6347615207645224),
 (58586, 0.6347615207645224),
 (67356, 0.6347615207645224),
 (75835, 0.6347615207645224),
 (81114, 0.6347615207645224),
 (81363, 0.6347615207645224),
 (669, 0.6321330973800233),
 (3026, 0.6321330973800233),
 (521, 0.6321330973800232),
 (1174, 0.63063969270761),
 (961, 0.6306396927076099),
 (7954, 0.6306396927076099),
 (32416, 0.6306396927076099),
 (75815, 0.6306396927076099),
 (4815, 0.6265178646506975),
 (5822, 0.6265178646506975),
 (68980, 0.6223960365937851),
 (70528, 0.6185873881504513),
 (5912, 0.6182742085368724),
 (373, 0.61415238047996),
 (520, 0.61415238047996),
 (872, 0.61415238047996),
 (1796, 0.61415238047996),
 (2832, 0.61415238047996),
 (3180, 0.61415238047996),
 (4869, 0.61415238047996),
 (5031, 0.61415238047996),
 (5630, 0.61415238047996),
 (5999, 0.61415238047996),
 (7241, 0.61415238047996),
 (8760, 0.61415238047996),
 (9010, 0.61415238047996),
 (9114, 0.61415238047996),
 (9594, 0.61415238047996),
 (13297, 0.61415238047996),
 (20487, 0.61415238047996),
 (25448, 0.61415238047996),
 (27998, 0.61415238047996),
 (28521, 0.61415238047996),
 (29740, 0.61415238047996),
 (41551, 0.61415238047996),
 (57608, 0.61415238047996),
 (17, 0.614072151740594),
 (54, 0.614072151740594),
 (1491, 0.614072151740594),
 (1823, 0.614072151740594),
 (2068, 0.614072151740594),
 (2840, 0.614072151740594),
 (3410, 0.614072151740594),
 (4567, 0.614072151740594),
 (5265, 0.614072151740594),
 (6110, 0.614072151740594),
 (9588, 0.614072151740594),
 (12196, 0.614072151740594),
 (12640, 0.614072151740594),
 (14789, 0.614072151740594),
 (32201, 0.614072151740594),
 (43808, 0.614072151740594),
 (44870, 0.614072151740594),
 (47597, 0.614072151740594),
 (60791, 0.614072151740594),
 (74866, 0.614072151740594),
 (77532, 0.614072151740594),
 (78858, 0.614072151740594),
 (80281, 0.614072151740594),
 (6317, 0.6108307205888442),
 (1045, 0.6100305524230476),
 (2309, 0.6100305524230476),
 (5209, 0.6100305524230476),
 (6266, 0.6100305524230476),
 (6430, 0.6100305524230476),
 (4044, 0.6095569153307367),
 (5548, 0.6095569153307367),
 (6718, 0.6095569153307367),
 (6664, 0.6095569153307366),
 (7856, 0.6059087243661352),
 (33326, 0.6059087243661352),
 (40026, 0.6059087243661352),
 (1225, 0.6059087243661351),
 (5010, 0.6059087243661351),
 (14068, 0.6059087243661351),
 (3768, 0.6057825328153826),
 (9388, 0.6017868963092226),
 (15920, 0.6017868963092226),
 (71054, 0.6017868963092226),
 (78097, 0.6017868963092226),
 (80213, 0.6017868963092226),
 (81636, 0.6017868963092226),
 (5187, 0.6005264425110222),
 (69088, 0.6005264425110222),
 (1579, 0.5976650682523101),
 (41373, 0.5976650682523101),
 (3107, 0.5960112061011648),
 (3306, 0.5960112061011648),
 (3806, 0.5956861572684596),
 (5170, 0.5956861572684596),
 (9136, 0.5935432401953977),
 (210, 0.5935432401953976),
 (1163, 0.5935432401953976),
 (1208, 0.5935432401953976),
 (1707, 0.5935432401953976),
 (1768, 0.5935432401953976),
 (2569, 0.5935432401953976),
 (3396, 0.5935432401953976),
 (3485, 0.5935432401953976),
 (3829, 0.5935432401953976),
 (4537, 0.5935432401953976),
 (5189, 0.5935432401953976),
 (5648, 0.5935432401953976),
 (5738, 0.5935432401953976),
 (5992, 0.5935432401953976),
 (6178, 0.5935432401953976),
 (6479, 0.5935432401953976),
 (7086, 0.5935432401953976),
 (7127, 0.5935432401953976),
 (7452, 0.5935432401953976),
 (7708, 0.5935432401953976),
 (9356, 0.5935432401953976),
 (10239, 0.5935432401953976),
 (10842, 0.5935432401953976),
 (13372, 0.5935432401953976),
 (19845, 0.5935432401953976),
 (20411, 0.5935432401953976),
 (20770, 0.5935432401953976),
 (21303, 0.5935432401953976),
 (46649, 0.5935432401953976),
 (51408, 0.5935432401953976),
 (52475, 0.5935432401953976),
 (54123, 0.5935432401953976),
 (58564, 0.5935432401953976),
 (62955, 0.5935432401953976),
 (70544, 0.5935432401953976),
 (70750, 0.5935432401953976),
 (71050, 0.5935432401953976),
 (74736, 0.5935432401953976),
 (572, 0.5935432401953975),
 (578, 0.5914959696913075),
 (619, 0.5914959696913075),
 (8119, 0.5914959696913075),
 (8994, 0.5914959696913075),
 (15127, 0.5914959696913075),
 (18170, 0.5914959696913075),
 (21424, 0.5914959696913075),
 (23337, 0.5914959696913075),
 (23811, 0.5914959696913075),
 (38901, 0.5914959696913075),
 (72851, 0.5914959696913075),
 (2378, 0.5906379694949981),
 (7773, 0.5906379694949981),

In [28]:
#EUCLIDIAN DISTANCE
normalised_df_movies = df_movies.astype(np.float32)

euclid_dist = euclidean_distances(normalised_df_movies, target_movie)

similar_movies = list(enumerate(euclid_dist.flatten()))
# similar_movies
sorted_similar_movies = sorted(similar_movies, key=lambda x:x[1], reverse=True)

def get_title_from_index(index):
    movieId = df_movies_original.iloc[index]['movieId']
    return df_movies_full[df_movies_full.movieId == movieId]["title"].values[0]
target_movie_cosine_sim_index = df_movies_original.index[df_movies_original['movieId'] == movie_id].values[0] #get 0-based index in cosine similarity array of the target movie
i=0
final_dict = {}
for movie in sorted_similar_movies:
    if movie[0] == target_movie_cosine_sim_index:
        continue
#     print(get_title_from_index(movie[0]))
    title = get_title_from_index(movie[0])
    score = movie[1]
    final_dict[i] = {
        'title': title,
        'score': score
    }
    i=i+1
    if i>=50:
        break
        
for movie in final_dict:
    print(final_dict[movie])

{'title': 'Cinderela Pop (2019)', 'score': 7.042726744663604}
{'title': 'Duets (2012)', 'score': 7.042726744663604}
{'title': 'Exatlon Türkiye (2020)', 'score': 7.042726744663604}
{'title': 'High School Musical: El Desafío (I) (2008)', 'score': 7.042726744663604}
{'title': 'Iranium (2011)', 'score': 7.042726744663604}
{'title': 'Joe Millionaire (2003)', 'score': 7.042726744663604}
{'title': 'Junior Rodeo Daredevils (1949)', 'score': 7.042726744663604}
{'title': 'One Nation Under Trump (2016)', 'score': 7.042726744663604}
{'title': 'President McKinley Taking the Oath (1901)', 'score': 7.042726744663604}
{'title': 'President McKinley and Escort Going to the Capitol (1901)', 'score': 7.042726744663604}
{'title': 'The Bachelor Winter Games (2018)', 'score': 7.042726744663604}
{'title': 'The Celebrity Dating Game (2021)', 'score': 7.042726744663604}
{'title': 'The Derby (I) (1896)', 'score': 7.042726744663604}
{'title': 'The Derby 1895 (1895)', 'score': 7.042726744663604}
{'title': 'The Hidden Hand: Alien Contact and the Government Cover-Up (2013)', 'score': 7.042726744663604}
{'title': 'The Toy Box (2017)', 'score': 7.042726744663604}
{'title': "The World's Best (2019)", 'score': 7.042726744663604}
{'title': 'Troop Ships for the Philippines (1898)', 'score': 7.042726744663604}
{'title': 'U.S. Troops Landing at Daiquiri, Cuba (1898)', 'score': 7.042726744663604}
{'title': 'Electrocuting an Elephant (1903)', 'score': 7.014271166700073}
{'title': 'A Miracle on Christmas Lake (2016)', 'score': 7.014271166700073}
{'title': 'Erax (2022)', 'score': 7.014271166700073}
{'title': 'In the Closet (2008)', 'score': 7.014271166700073}
{'title': 'Spooked: The Ghosts of Waverly Hills Sanatorium (2006)', 'score': 7.014271166700073}
{'title': 'The Wonderful Land of Oz (1969)', 'score': 7.004760286167305}
{'title': 'Design for Dreaming (1956)', 'score': 7.004760286167305}
{'title': 'Once Upon a Honeymoon (1956)', 'score': 7.004760286167305}
{'title': 'The Green Fairy (2016)', 'score': 7.004760286167305}
{'title': 'Mad at the Moon (1992)', 'score': 6.995236474439826}
{'title': 'Searching for Sheela (2021)', 'score': 6.995236474439826}
{'title': "Who Do You Think You're Fooling? (1994)", 'score': 6.995236474439826}
{'title': 'Aenigma (1987)', 'score': 6.985699678629192}
{'title': '1921 (2018)', 'score': 6.985699678629192}
{'title': 'Demon House (2019)', 'score': 6.985699678629192}
{'title': 'In a Heartbeat (2014)', 'score': 6.985699678629192}
{'title': 'Kucch To Hai (2003)', 'score': 6.985699678629192}
{'title': "Les morsures de l'aube (2001)", 'score': 6.985699678629192}
{'title': 'The Boogeyman (1982)', 'score': 6.985699678629192}
{'title': 'The Slayer (2017)', 'score': 6.985699678629192}
{'title': 'The Sleepless Unrest: The Real Conjuring Home (2021)', 'score': 6.985699678629192}
{'title': 'Beauty and the Beast (1962)', 'score': 6.97614984548545}
{'title': 'West of Hell (2018)', 'score': 6.97614984548545}
{'title': 'Dangerous Ishhq (2012)', 'score': 6.97614984548545}
{'title': 'Endzeit (2018)', 'score': 6.97614984548545}
{'title': 'Faust and Marguerite (1900)', 'score': 6.97614984548545}
{'title': 'Maximum Shame (2010)', 'score': 6.97614984548545}
{'title': 'Non mi uccidere (2021)', 'score': 6.97614984548545}
{'title': 'The Great Ghost Rescue (2011)', 'score': 6.97614984548545}
{'title': 'Wait Till Helen Comes (2016)', 'score': 6.97614984548545}
{'title': 'Yurameku (2014)', 'score': 6.97614984548545}

In [29]:
# COSINE SIMILARITY

normalised_df_movies = df_movies.astype(np.float32)

cosine_sim = cosine_similarity(normalised_df_movies, target_movie)

similar_movies = list(enumerate(cosine_sim.flatten()))
# similar_movies
sorted_similar_movies = sorted(similar_movies, key=lambda x:x[1], reverse=True)

sorted_similar_movies

def get_title_from_index(index):
    movieId = df_movies_original.iloc[index]['movieId']
    return df_movies_full[df_movies_full.movieId == movieId]["title"].values[0]
# target_movie_cosine_sim_index = df_movies_original.index[df_movies_original['movieId'] == movie_id].values[0] #get 0-based index in cosine similarity array of the target movie
i=0
final_dict = {}
for movie in sorted_similar_movies:
#     if movie[0] == target_movie_cosine_sim_index:
#         continue
#     print(get_title_from_index(movie[0]))
    title = get_title_from_index(movie[0])
    score = movie[1]
    final_dict[i] = {
        'title': title,
        'score': score
    }
    i=i+1
    if i>=50:
        break
        
for movie in final_dict:
    print(final_dict[movie])

{'title': 'Batman (1989)', 'score': 0.862410154282746}
{'title': 'Indiana Jones and the Kingdom of the Crystal Skull (2008)', 'score': 0.862410154282746}
{'title': 'Uncharted (2022)', 'score': 0.862410154282746}
{'title': 'Last Action Hero (1993)', 'score': 0.861462063894709}
{'title': 'The Mask of Zorro (1998)', 'score': 0.861462063894709}
{'title': 'Shanghai Noon (2000)', 'score': 0.861462063894709}
{'title': "Charlie's Angels (2000)", 'score': 0.861462063894709}
{'title': 'Rat Race (2001)', 'score': 0.861462063894709}
{'title': 'Austin Powers in Goldmember (2002)', 'score': 0.861462063894709}
{'title': 'The Rundown (2003)', 'score': 0.861462063894709}
{'title': 'The Brothers Grimm (2005)', 'score': 0.861462063894709}
{'title': 'Wild Hogs (2007)', 'score': 0.861462063894709}
{'title': 'Get Smart (2008)', 'score': 0.861462063894709}
{'title': 'Knight and Day (2010)', 'score': 0.861462063894709}
{'title': 'R.I.P.D. (2013)', 'score': 0.861462063894709}
{'title': 'Teenage Mutant Ninja Turtles (2014)', 'score': 0.861462063894709}
{'title': 'The Man from U.N.C.L.E. (2015)', 'score': 0.861462063894709}
{'title': 'Shazam! (2019)', 'score': 0.861462063894709}
{'title': 'Jumanji: Welcome to the Jungle (2017)', 'score': 0.861462063894709}
{'title': 'Ant-Man and the Wasp (2018)', 'score': 0.861462063894709}
{'title': 'Men in Black: International (2019)', 'score': 0.861462063894709}
{'title': 'Free Guy (2021)', 'score': 0.861462063894709}
{'title': 'Love and Monsters (I) (2020)', 'score': 0.861462063894709}
{'title': 'Men in Black 3 (2012)', 'score': 0.861462063894709}
{'title': 'Men in Black II (2002)', 'score': 0.861462063894709}
{'title': 'The Adam Project (2022)', 'score': 0.861462063894709}
{'title': 'Thor: Love and Thunder (2022)', 'score': 0.861462063894709}
{'title': 'Mononoke-hime (1997)', 'score': 0.8408529236101467}
{'title': 'Waterworld (1995)', 'score': 0.8408529236101466}
{'title': 'The Lost World: Jurassic Park (1997)', 'score': 0.8408529236101466}
{'title': 'Armageddon (1998)', 'score': 0.8408529236101466}
{'title': 'Mad Max Beyond Thunderdome (1985)', 'score': 0.8408529236101466}
{'title': 'Jurassic Park III (2001)', 'score': 0.8408529236101466}
{'title': 'Planet of the Apes (2001)', 'score': 0.8408529236101466}
{'title': 'The Time Machine (2002)', 'score': 0.8408529236101466}
{'title': 'Spider-Man (2002)', 'score': 0.8408529236101466}
{'title': 'The Day After Tomorrow (2004)', 'score': 0.8408529236101466}
{'title': 'War of the Worlds (2005)', 'score': 0.8408529236101466}
{'title': 'X-Men: The Last Stand (2006)', 'score': 0.8408529236101466}
{'title': 'The Incredible Hulk (2008)', 'score': 0.8408529236101466}
{'title': 'Terminator Salvation (2009)', 'score': 0.8408529236101466}
{'title': 'Transformers: Revenge of the Fallen (2009)', 'score': 0.8408529236101466}
{'title': 'G.I. Joe: The Rise of Cobra (2009)', 'score': 0.8408529236101466}
{'title': 'Iron Man 2 (2010)', 'score': 0.8408529236101466}
{'title': 'Battle: Los Angeles (2011)', 'score': 0.8408529236101466}
{'title': 'Transformers: Dark of the Moon (2011)', 'score': 0.8408529236101466}
{'title': 'Captain America: The First Avenger (2011)', 'score': 0.8408529236101466}
{'title': 'The Hunger Games (2012)', 'score': 0.8408529236101466}
{'title': 'John Carter (2012)', 'score': 0.8408529236101466}
{'title': 'G.I. Joe: Retaliation (2013)', 'score': 0.8408529236101466}

In [38]:
# df_movies_full[df_movies_full.title_only == 'Frozen']
df_movies_full[df_movies_full['title_only'].str.lower().str.contains('dolittle')]

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
954,Doctor Dolittle (1967),6.2,9700.0,Doctor Dolittle,1967,NaN,NaN,2135,0,0,...,0,0,0,1,0,0,0,0,1,0
36201,Doctor Dolittle (1998),5.4,98000.0,Doctor Dolittle,1998,NaN,NaN,222651,0,0,...,0,0,0,0,1,0,0,0,1,0
36299,Dolittle (2020),5.6,66000.0,Dolittle,2020,NaN,NaN,222749,0,0,...,0,0,0,0,1,0,0,0,1,0

In [33]:
df_movies_full[df_movies_full.movieId == 2355]

Empty DataFrame
Columns: [title, imdb_rating, num_of_rating, title_only, year, poster_url, plot, movieId, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western, genre_nan, (Banned), 13+, 15, 16+, 18+, ADV, ADV16, AO, All, Approved, E, E10+, F, G, GA, GP, K-A, M, M/PG, M18, MA-13, MA-17, NC-16, NC-17, NC16, Open, PG, PG-13, PG13, Passed, R, R(A), R21, T, TV-13, TV-14, TV-G, TV-MA, TV-PG, TV-Y, TV-Y7, TV-Y7-FV, U/A, Unrated, X, Not Rated, certificate_nan, num_rating_super_low, num_rating_low, num_rating_medium, num_rating_high, num_rating_super_high, imdb_rating_low, imdb_rating_medium, imdb_rating_high, imdb_rating_super_high]
Index: []

[0 rows x 93 columns]