In [56]:
## for data
import pandas as pd
import numpy as np
import re
from datetime import datetime
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for machine learning
from sklearn import metrics, preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
df_movies_full = pd.read_csv("datasets/to_use/movies_web_app_with_id_final.csv", dtype = {'movieId': int}) #still have UI information 
df_movies = df_movies_full.iloc[:, 7:]
df_movies_original = df_movies.copy() #still have movieId

In [58]:
df_movies_original

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,1,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,2,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,4,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,8,0,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
4,14,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,269141,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
82718,269142,0,0,0,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,1,0
82719,269143,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
82720,269144,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
82721,269145,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [59]:
df_movies.set_index('movieId', inplace=True)

In [60]:
df_movies

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
8,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
14,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269141,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
269142,0,0,0,0,0,1,0,0,1,0,...,1,1,0,0,0,0,0,0,1,0
269143,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
269144,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
269145,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [ ]:
#the rest should be the same as content_based_cosine_kev