In [1]:
## for data
import pandas as pd
import numpy as np
import re
from datetime import datetime
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for machine learning
from sklearn import metrics, preprocessing
from sklearn.model_selection import train_test_split
## for deep learning
from tensorflow.keras import models, layers, utils  #(2.6.0)

In [2]:
df_movies = pd.read_csv('datasets/to_use/movies_cleaned1.csv')

In [3]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(df_movies.head())

,movieId,title,runtime,imdb_rating,num_of_rating,budget,worldwide_gross,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,Film-Noir,Game-Show,History,Horror,Music,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,genre_nan,(Banned),13+,15,16+,18+,ADV,ADV16,AO,All,Approved,E,E10+,F,G,GA,GP,K-A,M,M/PG,M18,MA-13,MA-17,NC-16,NC-17,NC16,Open,PG,PG-13,PG13,Passed,R,R(A),R21,T,TV-13,TV-14,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,Not Rated,certificate_nan
0,318,The Shawshank Redemption (1994),0.8,0.987805,1.000000,0.003876,0.009882,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,58559,The Dark Knight (2008),1.0,0.951220,1.000000,0.028681,0.344257,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,79132,Inception (2010),0.8,0.926829,0.888881,0.024805,0.286306,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2959,Fight Club (1999),0.8,0.926829,0.777763,0.009767,0.034626,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,296,Pulp Fiction (1994),1.0,0.939024,0.777763,0.001240,0.073190,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
df_movies.count()

movieId            22696
title              22696
runtime            22464
imdb_rating        22696
num_of_rating      22696
                   ...
U/A                22696
Unrated            22696
X                  22696
Not Rated          22696
certificate_nan    22696
Length: 83, dtype: int64

In [5]:
obj = df_movies.isnull().sum()
for key,value in obj.iteritems():
    print(key,",",value)

movieId , 0
title , 0
runtime , 232
imdb_rating , 0
num_of_rating , 0
budget , 14488
worldwide_gross , 13449
Action , 0
Adult , 0
Adventure , 0
Animation , 0
Biography , 0
Comedy , 0
Crime , 0
Documentary , 0
Drama , 0
Family , 0
Fantasy , 0
Film-Noir , 0
Game-Show , 0
History , 0
Horror , 0
Music , 0
Musical , 0
Mystery , 0
News , 0
Reality-TV , 0
Romance , 0
Sci-Fi , 0
Short , 0
Sport , 0
Talk-Show , 0
Thriller , 0
War , 0
Western , 0
genre_nan , 0
(Banned) , 0
13+ , 0
15 , 0
16+ , 0
18+ , 0
ADV , 0
ADV16 , 0
AO , 0
All , 0
Approved , 0
E , 0
E10+ , 0
F , 0
G , 0
GA , 0
GP , 0
K-A , 0
M , 0
M/PG , 0
M18 , 0
MA-13 , 0
MA-17 , 0
NC-16 , 0
NC-17 , 0
NC16 , 0
Open , 0
PG , 0
PG-13 , 0
PG13 , 0
Passed , 0
R , 0
R(A) , 0
R21 , 0
T , 0
TV-13 , 0
TV-14 , 0
TV-G , 0
TV-MA , 0
TV-PG , 0
TV-Y , 0
TV-Y7 , 0
TV-Y7-FV , 0
U/A , 0
Unrated , 0
X , 0
Not Rated , 0
certificate_nan , 0

In [6]:
df_ratings = pd.read_csv('datasets/to_use/ratings_cleaned.csv')

In [7]:
df_ratings['rating'].value_counts()

4.0    3623338
3.0    2571345
5.0    2060912
3.5    1716928
4.5    1244365
2.0     846076
2.5     667038
1.0     389996
1.5     208332
0.5     195839
Name: rating, dtype: int64

In [8]:
df_ratings.head(10)

   Unnamed: 0  userId  movieId  rating
0    22682008  147413        1     3.5
1    15931427  103254        1     3.0
2      785756    5320        1     5.0
3      185481    1317        1     3.0
4     4523672   29725        1     3.5
5    18774539  121730        1     3.5
6     9629051   62518        1     5.0
7    23320318  151375        1     4.0
8     3411247   22505        1     5.0
9    18774745  121734        1     5.0

In [9]:
df_ratings.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
# scale rating to 0-1 also
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df_ratings[['rating']] = scaler.fit_transform(df_ratings[['rating']])

In [11]:
df_ratings.head(10)

   userId  movieId    rating
0  147413        1  0.666667
1  103254        1  0.555556
2    5320        1  1.000000
3    1317        1  0.555556
4   29725        1  0.666667
5  121730        1  0.666667
6   62518        1  1.000000
7  151375        1  0.777778
8   22505        1  1.000000
9  121734        1  1.000000

# start of ANN Algo

In [12]:
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf
from tensorflow.keras import layers

print(tf.__version__)
print(tf.keras.__version__)

2.11.0
2.11.0

In [13]:
#drop columns with null values and drop title also
df_movies.dropna(axis=1,inplace=True)
df_movies.drop('title', axis=1, inplace=True)

In [68]:
def get_recomm(userId):
    
    #STEP 1: TRAIN TEST SPLIT
    
    movie_id_df = df_ratings.loc[df_ratings['userId']==userId]
    
    ratings_train, ratings_test = train_test_split(movie_id_df, test_size = 0.2, random_state = 69)
    ratings_train.sort_values(by='movieId', inplace=True)
    ratings_test.sort_values(by='movieId', inplace=True)
    
#     print('----------- START OF TRAIN DATASET ----------------------')
#     print(ratings_train)
#     print('----------- END OF TRAIN DATASET ----------------------')
#     print()
#     print('----------- START OF TEST DATASET ----------------------')
#     print(ratings_test)
#     print('----------- END OF TEST DATASET ----------------------')
#     print()
    
    #STEP 2: GET TRAIN DATASETS
    
    movies_train = df_movies[df_movies['movieId'].isin(ratings_train['movieId'].tolist())]
    movies_train.sort_values(by='movieId', inplace=True)
    movies_train.set_index('movieId', inplace=True)
#     print(user_movies)
    print('----------- START OF ALL TRAIN MOVIES ----------------------')
    print(movies_train)
    print(movies_train.shape)
    print('----------- END OF ALL TRAIN MOVIES ----------------------')
    
#     rating_df=df_ratings.loc[df_ratings['userId']==userId][['movieId','rating']]
    ratings_train = ratings_train[['movieId','rating']]
    ratings_train.set_index('movieId', inplace=True)
    print('----------- START OF ALL TRAIN RATINGS ----------------------')
    print(ratings_train)
    print(ratings_train.shape)
    print('----------- END OF ALL TRAIN RATINGS ----------------------')
    
    #STEP 3: GET TEST DATASETS
    
    movies_test = df_movies[df_movies['movieId'].isin(ratings_test['movieId'].tolist())]
    movies_test.sort_values(by='movieId', inplace=True)
    movies_test.set_index('movieId', inplace=True)
#     print(user_movies)
    print('----------- START OF ALL TEST MOVIES ----------------------')
    print(movies_test)
    print(movies_test.shape)
    print('----------- END OF ALL TEST MOVIES ----------------------')
    
    ratings_test = ratings_test[['movieId','rating']]
    ratings_test.set_index('movieId', inplace=True)
    print('----------- START OF ALL TRAIN RATINGS ----------------------')
    print(ratings_test)
    print(ratings_test.shape)
    print('----------- END OF ALL TRAIN RATINGS ----------------------')
    
    #STEP 4: CONVERT TO NUMPY
    
    x_train = np.array(movies_train)
    y_train = np.array(ratings_train)
    x_test = np.array(movies_test)
    y_test = np.array(ratings_test)
    
    # Check shapes of train_images, train_labels etc
    print('Movie size:', x_train.shape)
    print('Rating size:', y_train.shape)
    
    print()
    print('----------- READY FOR NEURAL NETWORK ----------------------')
    print()
    
    #STEP 5: ITS NN TIME
    
    
    model = tf.keras.Sequential()
    model.add(layers.Dense(128, input_shape=(78,), activation=tf.nn.relu))      # one hidden layer
    model.add(layers.Dense(32, activation=tf.nn.relu))      # one hidden layer
    model.add(layers.Dense(1, activation=tf.nn.sigmoid))   # one output layer with 1 output. IS SIGMOID CORRECT?
    print(model.output_shape)
    
    model.compile(optimizer="Adam", 
              loss='mean_squared_error',
#               metrics=['accuracy']
            )
    
    history = model.fit(x_train, y_train, epochs=10, verbose=1)    
    
    predictions = model.predict(x_test)
    print('predictions', ' actual')
    [print(predictions[i], y_test[i]) for i in range(0,len(y_test))]
    
    test_loss = model.evaluate(x_test, y_test)
    print('Test RMSE:', test_loss)
    
    #STEP 6: SHOW PREDICTED RATINGS OF EVERY OTHER MOVIES
    
        
    return

print(get_recomm(69))

----------- START OF ALL TRAIN MOVIES ----------------------
         imdb_rating  num_of_rating  Action  Adult  Adventure  Animation  \
movieId
1           0.865854       0.369217       0      0          1          1
16          0.853659       0.194020       0      0          0          0
110         0.878049       0.370328       0      0          0          0
111         0.853659       0.310324       0      0          0          0
208         0.609756       0.073641       1      0          1          0
...              ...            ...     ...    ...        ...        ...
48516       0.890244       0.481447       0      0          0          0
48780       0.890244       0.481447       0      0          0          0
54272       0.743902       0.123645       0      0          1          1
55820       0.853659       0.362179       0      0          0          0
60684       0.780488       0.205502       1      0          0          0

         Biography  Comedy  Crime  Documentary  ...  TV-MA  TV-PG  TV-Y  \
movieId                                         ...
1                0       1      0            0  ...      0      0     0
16               0       0      1            0  ...      0      0     0
110              1       0      0            0  ...      0      0     0
111              0       0      1            0  ...      0      0     0
208              0       0      0            0  ...      0      0     0
...            ...     ...    ...          ...  ...    ...    ...   ...
48516            0       0      1            0  ...      0      0     0
48780            0       0      0            0  ...      0      0     0
54272            0       1      0            0  ...      0      0     0
55820            0       0      1            0  ...      0      0     0
60684            0       0      0            0  ...      0      0     0

         TV-Y7  TV-Y7-FV  U/A  Unrated  X  Not Rated  certificate_nan
movieId
1            0         0    0        0  0          0                0
16           0         0    0        0  0          0                0
110          0         0    0        0  0          0                0
111          0         0    0        0  0          0                0
208          0         0    0        0  0          0                0
...        ...       ...  ...      ... ..        ...              ...
48516        0         0    0        0  0          0                0
48780        0         0    0        0  0          0                0
54272        0         0    0        0  0          0                0
55820        0         0    0        0  0          0                0
60684        0         0    0        0  0          0                0

[80 rows x 78 columns]
(80, 78)
----------- END OF ALL TRAIN MOVIES ----------------------
----------- START OF ALL TRAIN RATINGS ----------------------
           rating
movieId
1        0.555556
16       0.777778
110      1.000000
111      0.777778
208      0.555556
...           ...
48516    1.000000
48780    1.000000
54272    0.666667
55820    1.000000
60684    1.000000

[80 rows x 1 columns]
(80, 1)
----------- END OF ALL TRAIN RATINGS ----------------------
----------- START OF ALL TEST MOVIES ----------------------
         imdb_rating  num_of_rating  Action  Adult  Adventure  Animation  \
movieId
356         0.926829       0.777763       0      0          0          0
367         0.695122       0.144757       1      0          0          0
454         0.682927       0.051047       0      0          0          0
555         0.817073       0.084753       0      0          0          0
1210        0.865854       0.407367       1      0          1          0
1259        0.841463       0.150683       0      0          1          0
1291        0.853659       0.281063       1      0          1          0
1527        0.780488       0.176982       1      0          1          0
1644        0.560976       0.055121       0      0          0          0
3481        0.756098       0.067345       0      0          0          0
3623        0.597561       0.128089       1      0          1          0
4034        0.780488       0.077345       0      0          0          0
5952        0.926829       0.629605       1      0          1          0
7153        0.951220       0.703684       1      0          1          0
7438        0.829268       0.281803       1      0          0          0
48738       0.780488       0.069567       0      0          0          0
51255       0.804878       0.188464       1      0          0          0
55765       0.804878       0.159203       0      0          0          0
58559       0.951220       1.000000       1      0          0          0
59315       0.817073       0.407367       1      0          1          0
64614       0.841463       0.288471       0      0          0          0

         Biography  Comedy  Crime  Documentary  ...  TV-MA  TV-PG  TV-Y  \
movieId                                         ...
356              0       0      0            0  ...      0      0     0
367              0       1      1            0  ...      0      0     0
454              0       0      0            0  ...      0      0     0
555              0       0      1            0  ...      0      0     0
1210             0       0      0            0  ...      0      0     0
1259             0       0      0            0  ...      0      0     0
1291             0       0      0            0  ...      0      0     0
1527             0       0      0            0  ...      0      0     0
1644             0       0      0            0  ...      0      0     0
3481             0       1      0            0  ...      0      0     0
3623             0       0      0            0  ...      0      0     0
4034             0       0      1            0  ...      0      0     0
5952             0       0      0            0  ...      0      0     0
7153             0       0      0            0  ...      0      0     0
7438             0       0      1            0  ...      0      0     0
48738            1       0      0            0  ...      0      0     0
51255            0       1      0            0  ...      0      0     0
55765            1       0      1            0  ...      0      0     0
58559            0       0      1            0  ...      0      0     0
59315            0       0      0            0  ...      0      0     0
64614            0       0      0            0  ...      0      0     0

         TV-Y7  TV-Y7-FV  U/A  Unrated  X  Not Rated  certificate_nan
movieId
356          0         0    0        0  0          0                0
367          0         0    0        0  0          0                0
454          0         0    0        0  0          0                0
555          0         0    0        0  0          0                0
1210         0         0    0        0  0          0                0
1259         0         0    0        0  0          0                0
1291         0         0    0        0  0          0                0
1527         0         0    0        0  0          0                0
1644         0         0    0        0  0          0                0
3481         0         0    0        0  0          0                0
3623         0         0    0        0  0          0                0
4034         0         0    0        0  0          0                0
5952         0         0    0        0  0          0                0
7153         0         0    0        0  0          0                0
7438         0         0    0        0  0          0                0
48738        0         0    0        0  0          0                0
51255        0         0    0        0  0          0                0
55765        0         0    0        0  0          0                0
58559        0         0    0        0  0          0                0
59315        0         0    0        0  0          0                0
64614        0         0    0        0  0          0                0

[21 rows x 78 columns]
(21, 78)
----------- END OF ALL TEST MOVIES ----------------------
----------- START OF ALL TRAIN RATINGS ----------------------
           rating
movieId
356      1.000000
367      0.888889
454      0.222222
555      1.000000
1210     1.000000
1259     1.000000
1291     1.000000
1527     0.111111
1644     0.555556
3481     0.777778
3623     0.000000
4034     0.777778
5952     1.000000
7153     1.000000
7438     1.000000
48738    1.000000
51255    0.888889
55765    0.666667
58559    1.000000
59315    0.555556
64614    0.888889
(21, 1)
----------- END OF ALL TRAIN RATINGS ----------------------
Movie size: (80, 78)
Rating size: (80, 1)

----------- READY FOR NEURAL NETWORK ----------------------

(None, 1)
Epoch 1/10

C:\Users\Kevan\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\Kevan\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

3/3 [==============================] - 0s 1ms/step - loss: 0.1451
Epoch 2/10
3/3 [==============================] - 0s 1ms/step - loss: 0.1223
Epoch 3/10
3/3 [==============================] - 0s 1ms/step - loss: 0.1034
Epoch 4/10
3/3 [==============================] - 0s 1000us/step - loss: 0.0906
Epoch 5/10
3/3 [==============================] - 0s 1ms/step - loss: 0.0816
Epoch 6/10
3/3 [==============================] - 0s 2ms/step - loss: 0.0762
Epoch 7/10
3/3 [==============================] - 0s 1ms/step - loss: 0.0740
Epoch 8/10
3/3 [==============================] - 0s 1ms/step - loss: 0.0724
Epoch 9/10
3/3 [==============================] - 0s 1ms/step - loss: 0.0717
Epoch 10/10
3/3 [==============================] - 0s 1ms/step - loss: 0.0706
1/1 [==============================] - 0s 33ms/step
predictions  actual
[0.8034526] [1.]
[0.77874815] [0.88888889]
[0.84517944] [0.22222222]
[0.8627826] [1.]
[0.6952193] [1.]
[0.8275759] [1.]
[0.7098752] [1.]
[0.74558216] [0.11111111]
[0.7685085] [0.55555556]
[0.84939754] [0.77777778]
[0.7010918] [0.]
[0.8717535] [0.77777778]
[0.8006572] [1.]
[0.8052384] [1.]
[0.821557] [1.]
[0.8616405] [1.]
[0.7886586] [0.88888889]
[0.8720809] [0.66666667]
[0.8525526] [1.]
[0.75033957] [0.55555556]
[0.80957204] [0.88888889]
1/1 [==============================] - 0s 73ms/step - loss: 0.0888
Test RMSE: 0.08879627287387848
None