In [38]:
import pandas as pd

# Pre-process MovieLens' Movies dataset

In [39]:
df_ml_movies = pd.read_csv('ml_original/movies.csv')
df_ml_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [40]:
df_ml_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [41]:
df_ml_movies[df_ml_movies['title'] == 'Inception (2010)']

,movieId,title,genres
14937,79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [42]:
df_ml_movies = df_ml_movies[['movieId', 'title']]
df_ml_movies.head()
# drop genre

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

# Standardise movie titles that start with "The"

In [43]:
df_ml_movies[df_ml_movies['title'].str.contains('Shawshank')]
#need to convert all movies with 'The'

     movieId                             title
314      318  Shawshank Redemption, The (1994)

In [44]:
print(df_ml_movies[df_ml_movies['title'].str.contains(', The \(\d+')].head(50))
df_ml_with_the = df_ml_movies[df_ml_movies['title'].str.contains(', The \(\d+')]
df_ml_with_the

     movieId                                              title
10        11                     American President, The (1995)
49        50                         Usual Suspects, The (1995)
53        54                              Big Green, The (1995)
59        60                 Indian in the Cupboard, The (1995)
77        78                         Crossing Guard, The (1995)
78        79                                  Juror, The (1996)
103      105              Bridges of Madison County, The (1995)
115      117              Young Poisoner's Handbook, The (1995)
119      121                    Boys of St. Vincent, The (1992)
124      126                  NeverEnding Story III, The (1994)
136      138                             Neon Bible, The (1995)
139      141                               Birdcage, The (1996)
142      144                      Brothers McMullen, The (1995)
144      146                Amazing Panda Adventure, The (1995)
145      147                     Basketball Diaries, The (1995)
150      152                              Addiction, The (1995)
164      166                        Doom Generation, The (1995)
183      185                                    Net, The (1995)
186      188                               Prophecy, The (1995)
189      191                         Scarlet Letter, The (1995)
195      197                Stars Fell on Henrietta, The (1995)
198      200                         Tie That Binds, The (1995)
209      211                       Browning Version, The (1994)
215      217                             Babysitter, The (1995)
217      219                                   Cure, The (1995)
248      251                                 Hunted, The (1995)
252      255                             Jerky Boys, The (1995)
269      272                 Madness of King George, The (1994)
290      294                           Perez Family, The (1995)
299      303                     Quick and the Dead, The (1995)
309      313                          Swan Princess, The (1994)
310      314                   Secret of Roan Inish, The (1994)
311      315                             Specialist, The (1994)
313      317                           Santa Clause, The (1994)
314      318                   Shawshank Redemption, The (1994)
319      324                              Sum of Us, The (1994)
331      336                           Walking Dead, The (1995)
335      340                                    War, The (1994)
338      343                      Baby-Sitters Club, The (1995)
340      345  Adventures of Priscilla, Queen of the Desert, ...
345      350                                 Client, The (1994)
348      353                                   Crow, The (1994)
350      355                            Flintstones, The (1994)
357      362                            Jungle Book, The (1994)
359      364                              Lion King, The (1994)
362      367                                   Mask, The (1994)
366      371                                  Paper, The (1994)
371      376                             River Wild, The (1994)
387      392         Secret Adventures of Tom Thumb, The (1993)
392      397                                   Fear, The (1995)

       movieId                                          title
10          11                 American President, The (1995)
49          50                     Usual Suspects, The (1995)
53          54                          Big Green, The (1995)
59          60             Indian in the Cupboard, The (1995)
77          78                     Crossing Guard, The (1995)
...        ...                                            ...
34765   146202  Inside of the White Slave Traffic, The (1913)
35759   148626                          Big Short, The (2015)
38533   155026                        Office Wife, The (1930)
39625   157625                  Whispering Chorus, The (1918)
40340   159185               Extraordinary Voyage, The (2011)

[3405 rows x 2 columns]

In [45]:
df_ml_without_the = df_ml_movies[~df_ml_movies['title'].str.contains(', The \(\d+')]
df_ml_without_the

       movieId                               title
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

[59018 rows x 2 columns]

In [46]:
df_test = pd.concat([df_ml_without_the, df_ml_with_the])
df_test

       movieId                                          title
0            1                               Toy Story (1995)
1            2                                 Jumanji (1995)
2            3                        Grumpier Old Men (1995)
3            4                       Waiting to Exhale (1995)
4            5             Father of the Bride Part II (1995)
...        ...                                            ...
34765   146202  Inside of the White Slave Traffic, The (1913)
35759   148626                          Big Short, The (2015)
38533   155026                        Office Wife, The (1930)
39625   157625                  Whispering Chorus, The (1918)
40340   159185               Extraordinary Voyage, The (2011)

[62423 rows x 2 columns]

In [47]:
raw_the = df_ml_with_the['title'].str.split(', The ',)
print(raw_the.head(15))
df_ml_with_the['new'] = 'The ' + raw_the.str[0] + ' ' + raw_the.str[1]
df_ml_with_the.head()

10            [American President, (1995)]
49                [Usual Suspects, (1995)]
53                     [Big Green, (1995)]
59        [Indian in the Cupboard, (1995)]
77                [Crossing Guard, (1995)]
78                         [Juror, (1996)]
103    [Bridges of Madison County, (1995)]
115    [Young Poisoner's Handbook, (1995)]
119          [Boys of St. Vincent, (1992)]
124        [NeverEnding Story III, (1994)]
136                   [Neon Bible, (1995)]
139                     [Birdcage, (1996)]
142            [Brothers McMullen, (1995)]
144      [Amazing Panda Adventure, (1995)]
145           [Basketball Diaries, (1995)]
Name: title, dtype: object

C:\Users\Kevan\AppData\Local\Temp/ipykernel_16824/2976948629.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_with_the['new'] = 'The ' + raw_the.str[0] + ' ' + raw_the.str[1]

,movieId,title,new
10,11,"American President, The (1995)",The American President (1995)
49,50,"Usual Suspects, The (1995)",The Usual Suspects (1995)
53,54,"Big Green, The (1995)",The Big Green (1995)
59,60,"Indian in the Cupboard, The (1995)",The Indian in the Cupboard (1995)
77,78,"Crossing Guard, The (1995)",The Crossing Guard (1995)

In [48]:
df_ml_with_the.drop('new', axis=1, inplace=True)

C:\Users\Kevan\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [49]:
df_ml_with_the['title'] = 'The ' + raw_the.str[0] + ' ' + raw_the.str[1]
# df_ml_with_the = df_ml_with_the.drop('new', axis=1)
df_ml_with_the.head()

C:\Users\Kevan\AppData\Local\Temp/ipykernel_16824/889700230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_with_the['title'] = 'The ' + raw_the.str[0] + ' ' + raw_the.str[1]

    movieId                              title
10       11      The American President (1995)
49       50          The Usual Suspects (1995)
53       54               The Big Green (1995)
59       60  The Indian in the Cupboard (1995)
77       78          The Crossing Guard (1995)

In [75]:
df_ml_movies = pd.concat([df_ml_without_the, df_ml_with_the])
df_ml_movies.sort_values(by=['movieId'], inplace=True)
df_ml_movies.head(15)
# We can see The American President (1995) on row 10 being in the correct format now

    movieId                               title
0         1                    Toy Story (1995)
1         2                      Jumanji (1995)
2         3             Grumpier Old Men (1995)
3         4            Waiting to Exhale (1995)
4         5  Father of the Bride Part II (1995)
5         6                         Heat (1995)
6         7                      Sabrina (1995)
7         8                 Tom and Huck (1995)
8         9                 Sudden Death (1995)
9        10                    GoldenEye (1995)
10       11       The American President (1995)
11       12  Dracula: Dead and Loving It (1995)
12       13                        Balto (1995)
13       14                        Nixon (1995)
14       15             Cutthroat Island (1995)

# Pre-Processing IMDB Web Scraped dataset

In [51]:
df_scraped = pd.read_csv('scraped_cleaned/scraped_one_hot_encoded.csv', dtype={'num_of_rating': str}, index_col=0)
df_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113642 entries, 0 to 113642
Data columns (total 95 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0.1     113642 non-null  int64
 1   title            113642 non-null  object
 2   runtime          106500 non-null  object
 3   rating           113641 non-null  float64
 4   num_of_rating    113641 non-null  object
 5   budget           21383 non-null   object
 6   worldwide_gross  27521 non-null   object
 7   origin           113182 non-null  object
 8   cast             113642 non-null  object
 9   director         113642 non-null  object
 10  writer           113642 non-null  object
 11  producer         113642 non-null  object
 12  composer         113642 non-null  object
 13  cinematographer  113642 non-null  object
 14  editor           113642 non-null  object
 15  year             84242 non-null   float64
 16  Action           113642 non-null  int64
 17  Adult            113642 non-null  int64
 18  Adventure        113642 non-null  int64
 19  Animation        113642 non-null  int64
 20  Biography        113642 non-null  int64
 21  Comedy           113642 non-null  int64
 22  Crime            113642 non-null  int64
 23  Documentary      113642 non-null  int64
 24  Drama            113642 non-null  int64
 25  Family           113642 non-null  int64
 26  Fantasy          113642 non-null  int64
 27  Film-Noir        113642 non-null  int64
 28  Game-Show        113642 non-null  int64
 29  History          113642 non-null  int64
 30  Horror           113642 non-null  int64
 31  Music            113642 non-null  int64
 32  Musical          113642 non-null  int64
 33  Mystery          113642 non-null  int64
 34  News             113642 non-null  int64
 35  Reality-TV       113642 non-null  int64
 36  Romance          113642 non-null  int64
 37  Sci-Fi           113642 non-null  int64
 38  Short            113642 non-null  int64
 39  Sport            113642 non-null  int64
 40  Talk-Show        113642 non-null  int64
 41  Thriller         113642 non-null  int64
 42  War              113642 non-null  int64
 43  Western          113642 non-null  int64
 44  genre_nan        113642 non-null  int64
 45  (Banned)         113642 non-null  int64
 46  12               113642 non-null  int64
 47  13+              113642 non-null  int64
 48  15               113642 non-null  int64
 49  16+              113642 non-null  int64
 50  17+              113642 non-null  int64
 51  18+              113642 non-null  int64
 52  ADV              113642 non-null  int64
 53  ADV16            113642 non-null  int64
 54  AO               113642 non-null  int64
 55  All              113642 non-null  int64
 56  Approved         113642 non-null  int64
 57  E                113642 non-null  int64
 58  E10+             113642 non-null  int64
 59  F                113642 non-null  int64
 60  G                113642 non-null  int64
 61  GA               113642 non-null  int64
 62  GP               113642 non-null  int64
 63  K-A              113642 non-null  int64
 64  M                113642 non-null  int64
 65  M/PG             113642 non-null  int64
 66  M18              113642 non-null  int64
 67  MA-13            113642 non-null  int64
 68  MA-17            113642 non-null  int64
 69  NC-16            113642 non-null  int64
 70  NC-17            113642 non-null  int64
 71  NC16             113642 non-null  int64
 72  Not              113642 non-null  int64
 73  Open             113642 non-null  int64
 74  PG               113642 non-null  int64
 75  PG-13            113642 non-null  int64
 76  PG13             113642 non-null  int64
 77  Passed           113642 non-null  int64
 78  R                113642 non-null  int64
 79  R(A)             113642 non-null  int64
 80  R21              113642 non-null  int64
 81  Rated            113642 non-null  int64
 82  T                113642 non-null  int64
 83  TV-13            113642 non-null  int64
 84  TV-14            113642 non-null  int64
 85  TV-G             113642 non-null  int64
 86  TV-MA            113642 non-null  int64
 87  TV-PG            113642 non-null  int64
 88  TV-Y             113642 non-null  int64
 89  TV-Y7            113642 non-null  int64
 90  TV-Y7-FV         113642 non-null  int64
 91  U/A              113642 non-null  int64
 92  Unrated          113642 non-null  int64
 93  X                113642 non-null  int64
 94  certificate_nan  113642 non-null  int64
dtypes: float64(2), int64(80), object(13)
memory usage: 83.2+ MB

In [52]:
df_scraped.head(10)

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan
0,0,The Shawshank Redemption (1994),142 min,9.3,2.7M,"$25,000,000 (estimated)","$28,884,504",United States,"['Tim Robbins,Morgan Freeman,Bob Gunton,Willia...",['Frank Darabont'],...,0,0,0,0,0,0,0,0,0,0
1,1,The Dark Knight (2008),152 min,9.0,2.7M,"$185,000,000 (estimated)","$1,006,234,167","United States,United Kingdom","[""Christian Bale,Heath Ledger,Aaron Eckhart,Mi...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0
3,3,Fight Club (1999),139 min,8.8,2.1M,"$63,000,000 (estimated)","$101,209,702","Germany,United States","[""Edward Norton,Brad Pitt,Meat Loaf,Zach Greni...",['David Fincher'],...,0,0,0,0,0,0,0,0,0,0
4,4,Pulp Fiction (1994),154 min,8.9,2.1M,"$8,000,000 (estimated)","$213,928,762",United States,"['Tim Roth,Amanda Plummer,Laura Lovelace,John ...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,0
5,5,Forrest Gump (1994),142 min,8.8,2.1M,"$55,000,000 (estimated)","$678,226,465",United States,"[""Tom Hanks,Rebecca Williams,Sally Field,Micha...",['Robert Zemeckis'],...,0,0,0,0,0,0,0,0,0,0
6,6,The Matrix (1999),136 min,8.7,1.9M,"$63,000,000 (estimated)","$467,222,728","United States,Australia","[""Keanu Reeves,Laurence Fishburne,Carrie-Anne ...","['Lana Wachowski,Lilly Wachowski']",...,0,0,0,0,0,0,0,0,0,0
7,7,Breaking Bad (2008–2013),49 min,9.5,1.9M,NaN,NaN,United States,"[""Bryan Cranston,Anna Gunn,Aaron Paul,Betsy Br...","['Michelle MacLaren,Adam Bernstein,Vince Gilli...",...,0,1,0,0,0,0,0,0,0,0
8,8,The Lord of the Rings: The Fellowship of the R...,178 min,8.8,1.9M,"$93,000,000 (estimated)","$898,204,420","New Zealand,United States","[""Alan Howard,Noel Appleby,Sean Astin,Sala Bak...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,0
9,9,Game of Thrones (2011–2019),57 min,9.2,2.1M,NaN,NaN,"United States,United Kingdom","[""Peter Dinklage,Lena Headey,Emilia Clarke,Kit...","['David Nutter,Alan Taylor,Alex Graves,Miguel ...",...,0,1,0,0,0,0,0,0,0,0

In [53]:
# find rows which are NOT TV shows
df_scraped[~df_scraped.title.str.contains('–')].head(15)

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan
0,0,The Shawshank Redemption (1994),142 min,9.3,2.7M,"$25,000,000 (estimated)","$28,884,504",United States,"['Tim Robbins,Morgan Freeman,Bob Gunton,Willia...",['Frank Darabont'],...,0,0,0,0,0,0,0,0,0,0
1,1,The Dark Knight (2008),152 min,9.0,2.7M,"$185,000,000 (estimated)","$1,006,234,167","United States,United Kingdom","[""Christian Bale,Heath Ledger,Aaron Eckhart,Mi...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0
3,3,Fight Club (1999),139 min,8.8,2.1M,"$63,000,000 (estimated)","$101,209,702","Germany,United States","[""Edward Norton,Brad Pitt,Meat Loaf,Zach Greni...",['David Fincher'],...,0,0,0,0,0,0,0,0,0,0
4,4,Pulp Fiction (1994),154 min,8.9,2.1M,"$8,000,000 (estimated)","$213,928,762",United States,"['Tim Roth,Amanda Plummer,Laura Lovelace,John ...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,0
5,5,Forrest Gump (1994),142 min,8.8,2.1M,"$55,000,000 (estimated)","$678,226,465",United States,"[""Tom Hanks,Rebecca Williams,Sally Field,Micha...",['Robert Zemeckis'],...,0,0,0,0,0,0,0,0,0,0
6,6,The Matrix (1999),136 min,8.7,1.9M,"$63,000,000 (estimated)","$467,222,728","United States,Australia","[""Keanu Reeves,Laurence Fishburne,Carrie-Anne ...","['Lana Wachowski,Lilly Wachowski']",...,0,0,0,0,0,0,0,0,0,0
8,8,The Lord of the Rings: The Fellowship of the R...,178 min,8.8,1.9M,"$93,000,000 (estimated)","$898,204,420","New Zealand,United States","[""Alan Howard,Noel Appleby,Sean Astin,Sala Bak...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,0
10,10,The Godfather (1972),175 min,9.2,1.9M,"$6,000,000 (estimated)","$250,341,816",United States,"['Marlon Brando,Al Pacino,James Caan,Richard S...",['Francis Ford Coppola'],...,0,0,0,0,0,0,0,0,0,0
11,11,The Lord of the Rings: The Return of the King ...,201 min,9.0,1.9M,"$94,000,000 (estimated)","$1,146,457,748","New Zealand,United States","['Noel Appleby,Ali Astin,Sean Astin,David Asto...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,0
12,12,Interstellar (2014),169 min,8.6,1.8M,"$165,000,000 (estimated)","$773,867,216","United States,United Kingdom,Canada","['Ellen Burstyn,Matthew McConaughey,Mackenzie ...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0
13,13,The Lord of the Rings: The Two Towers (2002),179 min,8.8,1.7M,"$94,000,000 (estimated)","$947,944,270","New Zealand,United States","['Bruce Allpress,Sean Astin,John Bach,Sala Bak...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,0
14,14,The Dark Knight Rises (2012),164 min,8.4,1.7M,"$250,000,000 (estimated)","$1,081,169,825","United States,United Kingdom","[""Christian Bale,Gary Oldman,Tom Hardy,Joseph ...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0
15,15,Se7en (1995),127 min,8.6,1.7M,"$33,000,000 (estimated)","$327,333,559",United States,"['Morgan Freeman,Andrew Kevin Walker,Daniel Za...",['David Fincher'],...,0,0,0,0,0,0,0,0,0,0
16,16,Django Unchained (2012),165 min,8.4,1.6M,"$100,000,000 (estimated)","$426,074,373",United States,"[""Jamie Foxx,Christoph Waltz,Leonardo DiCaprio...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,0

In [54]:
# remove all TV shows
df_scraped = df_scraped[~df_scraped.title.str.contains('–')]
df_scraped.info()
# we can see that the movies we have dropped from 113k to 100k

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100791 entries, 0 to 113640
Data columns (total 95 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0.1     100791 non-null  int64
 1   title            100791 non-null  object
 2   runtime          96534 non-null   object
 3   rating           100791 non-null  float64
 4   num_of_rating    100791 non-null  object
 5   budget           21383 non-null   object
 6   worldwide_gross  27521 non-null   object
 7   origin           100476 non-null  object
 8   cast             100791 non-null  object
 9   director         100791 non-null  object
 10  writer           100791 non-null  object
 11  producer         100791 non-null  object
 12  composer         100791 non-null  object
 13  cinematographer  100791 non-null  object
 14  editor           100791 non-null  object
 15  year             84242 non-null   float64
 16  Action           100791 non-null  int64
 17  Adult            100791 non-null  int64
 18  Adventure        100791 non-null  int64
 19  Animation        100791 non-null  int64
 20  Biography        100791 non-null  int64
 21  Comedy           100791 non-null  int64
 22  Crime            100791 non-null  int64
 23  Documentary      100791 non-null  int64
 24  Drama            100791 non-null  int64
 25  Family           100791 non-null  int64
 26  Fantasy          100791 non-null  int64
 27  Film-Noir        100791 non-null  int64
 28  Game-Show        100791 non-null  int64
 29  History          100791 non-null  int64
 30  Horror           100791 non-null  int64
 31  Music            100791 non-null  int64
 32  Musical          100791 non-null  int64
 33  Mystery          100791 non-null  int64
 34  News             100791 non-null  int64
 35  Reality-TV       100791 non-null  int64
 36  Romance          100791 non-null  int64
 37  Sci-Fi           100791 non-null  int64
 38  Short            100791 non-null  int64
 39  Sport            100791 non-null  int64
 40  Talk-Show        100791 non-null  int64
 41  Thriller         100791 non-null  int64
 42  War              100791 non-null  int64
 43  Western          100791 non-null  int64
 44  genre_nan        100791 non-null  int64
 45  (Banned)         100791 non-null  int64
 46  12               100791 non-null  int64
 47  13+              100791 non-null  int64
 48  15               100791 non-null  int64
 49  16+              100791 non-null  int64
 50  17+              100791 non-null  int64
 51  18+              100791 non-null  int64
 52  ADV              100791 non-null  int64
 53  ADV16            100791 non-null  int64
 54  AO               100791 non-null  int64
 55  All              100791 non-null  int64
 56  Approved         100791 non-null  int64
 57  E                100791 non-null  int64
 58  E10+             100791 non-null  int64
 59  F                100791 non-null  int64
 60  G                100791 non-null  int64
 61  GA               100791 non-null  int64
 62  GP               100791 non-null  int64
 63  K-A              100791 non-null  int64
 64  M                100791 non-null  int64
 65  M/PG             100791 non-null  int64
 66  M18              100791 non-null  int64
 67  MA-13            100791 non-null  int64
 68  MA-17            100791 non-null  int64
 69  NC-16            100791 non-null  int64
 70  NC-17            100791 non-null  int64
 71  NC16             100791 non-null  int64
 72  Not              100791 non-null  int64
 73  Open             100791 non-null  int64
 74  PG               100791 non-null  int64
 75  PG-13            100791 non-null  int64
 76  PG13             100791 non-null  int64
 77  Passed           100791 non-null  int64
 78  R                100791 non-null  int64
 79  R(A)             100791 non-null  int64
 80  R21              100791 non-null  int64
 81  Rated            100791 non-null  int64
 82  T                100791 non-null  int64
 83  TV-13            100791 non-null  int64
 84  TV-14            100791 non-null  int64
 85  TV-G             100791 non-null  int64
 86  TV-MA            100791 non-null  int64
 87  TV-PG            100791 non-null  int64
 88  TV-Y             100791 non-null  int64
 89  TV-Y7            100791 non-null  int64
 90  TV-Y7-FV         100791 non-null  int64
 91  U/A              100791 non-null  int64
 92  Unrated          100791 non-null  int64
 93  X                100791 non-null  int64
 94  certificate_nan  100791 non-null  int64
dtypes: float64(2), int64(80), object(13)
memory usage: 73.8+ MB

In [55]:
df_scraped[df_scraped['title'] == 'Inception (2010)']

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,0

In [56]:
df_ml_movies[df_ml_movies['title'].str.contains('Shawshank')]

     movieId                            title
314      318  The Shawshank Redemption (1994)

In [57]:
df_scraped[df_scraped['title'].str.contains('Shawshank')]

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan
0,0,The Shawshank Redemption (1994),142 min,9.3,2.7M,"$25,000,000 (estimated)","$28,884,504",United States,"['Tim Robbins,Morgan Freeman,Bob Gunton,Willia...",['Frank Darabont'],...,0,0,0,0,0,0,0,0,0,0
105064,105064,The Shawshank Redemption: Behind the Scenes (2...,9 min,9.3,208,NaN,NaN,United Kingdom,"['Frank Darabont,Morgan Freeman,Tim Robbins']",['nan'],...,0,0,0,0,0,0,0,0,0,1

In [58]:
titles_merged = pd.merge(df_scraped, df_ml_movies)
titles_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22744 entries, 0 to 22743
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     22744 non-null  int64
 1   title            22744 non-null  object
 2   runtime          22722 non-null  object
 3   rating           22744 non-null  float64
 4   num_of_rating    22744 non-null  object
 5   budget           8347 non-null   object
 6   worldwide_gross  9264 non-null   object
 7   origin           22731 non-null  object
 8   cast             22744 non-null  object
 9   director         22744 non-null  object
 10  writer           22744 non-null  object
 11  producer         22744 non-null  object
 12  composer         22744 non-null  object
 13  cinematographer  22744 non-null  object
 14  editor           22744 non-null  object
 15  year             22744 non-null  float64
 16  Action           22744 non-null  int64
 17  Adult            22744 non-null  int64
 18  Adventure        22744 non-null  int64
 19  Animation        22744 non-null  int64
 20  Biography        22744 non-null  int64
 21  Comedy           22744 non-null  int64
 22  Crime            22744 non-null  int64
 23  Documentary      22744 non-null  int64
 24  Drama            22744 non-null  int64
 25  Family           22744 non-null  int64
 26  Fantasy          22744 non-null  int64
 27  Film-Noir        22744 non-null  int64
 28  Game-Show        22744 non-null  int64
 29  History          22744 non-null  int64
 30  Horror           22744 non-null  int64
 31  Music            22744 non-null  int64
 32  Musical          22744 non-null  int64
 33  Mystery          22744 non-null  int64
 34  News             22744 non-null  int64
 35  Reality-TV       22744 non-null  int64
 36  Romance          22744 non-null  int64
 37  Sci-Fi           22744 non-null  int64
 38  Short            22744 non-null  int64
 39  Sport            22744 non-null  int64
 40  Talk-Show        22744 non-null  int64
 41  Thriller         22744 non-null  int64
 42  War              22744 non-null  int64
 43  Western          22744 non-null  int64
 44  genre_nan        22744 non-null  int64
 45  (Banned)         22744 non-null  int64
 46  12               22744 non-null  int64
 47  13+              22744 non-null  int64
 48  15               22744 non-null  int64
 49  16+              22744 non-null  int64
 50  17+              22744 non-null  int64
 51  18+              22744 non-null  int64
 52  ADV              22744 non-null  int64
 53  ADV16            22744 non-null  int64
 54  AO               22744 non-null  int64
 55  All              22744 non-null  int64
 56  Approved         22744 non-null  int64
 57  E                22744 non-null  int64
 58  E10+             22744 non-null  int64
 59  F                22744 non-null  int64
 60  G                22744 non-null  int64
 61  GA               22744 non-null  int64
 62  GP               22744 non-null  int64
 63  K-A              22744 non-null  int64
 64  M                22744 non-null  int64
 65  M/PG             22744 non-null  int64
 66  M18              22744 non-null  int64
 67  MA-13            22744 non-null  int64
 68  MA-17            22744 non-null  int64
 69  NC-16            22744 non-null  int64
 70  NC-17            22744 non-null  int64
 71  NC16             22744 non-null  int64
 72  Not              22744 non-null  int64
 73  Open             22744 non-null  int64
 74  PG               22744 non-null  int64
 75  PG-13            22744 non-null  int64
 76  PG13             22744 non-null  int64
 77  Passed           22744 non-null  int64
 78  R                22744 non-null  int64
 79  R(A)             22744 non-null  int64
 80  R21              22744 non-null  int64
 81  Rated            22744 non-null  int64
 82  T                22744 non-null  int64
 83  TV-13            22744 non-null  int64
 84  TV-14            22744 non-null  int64
 85  TV-G             22744 non-null  int64
 86  TV-MA            22744 non-null  int64
 87  TV-PG            22744 non-null  int64
 88  TV-Y             22744 non-null  int64
 89  TV-Y7            22744 non-null  int64
 90  TV-Y7-FV         22744 non-null  int64
 91  U/A              22744 non-null  int64
 92  Unrated          22744 non-null  int64
 93  X                22744 non-null  int64
 94  certificate_nan  22744 non-null  int64
 95  movieId          22744 non-null  int64
dtypes: float64(2), int64(81), object(13)
memory usage: 16.8+ MB

## The number of movies that exist in BOTH MovieLens and IMDB Web Scraped is 22,744. Only 8,347 of them have the budget data

In [59]:
titles_merged.head(30)

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan,movieId
0,0,The Shawshank Redemption (1994),142 min,9.3,2.7M,"$25,000,000 (estimated)","$28,884,504",United States,"['Tim Robbins,Morgan Freeman,Bob Gunton,Willia...",['Frank Darabont'],...,0,0,0,0,0,0,0,0,0,318
1,1,The Dark Knight (2008),152 min,9.0,2.7M,"$185,000,000 (estimated)","$1,006,234,167","United States,United Kingdom","[""Christian Bale,Heath Ledger,Aaron Eckhart,Mi...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,58559
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,79132
3,3,Fight Club (1999),139 min,8.8,2.1M,"$63,000,000 (estimated)","$101,209,702","Germany,United States","[""Edward Norton,Brad Pitt,Meat Loaf,Zach Greni...",['David Fincher'],...,0,0,0,0,0,0,0,0,0,2959
4,4,Pulp Fiction (1994),154 min,8.9,2.1M,"$8,000,000 (estimated)","$213,928,762",United States,"['Tim Roth,Amanda Plummer,Laura Lovelace,John ...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,296
5,5,Forrest Gump (1994),142 min,8.8,2.1M,"$55,000,000 (estimated)","$678,226,465",United States,"[""Tom Hanks,Rebecca Williams,Sally Field,Micha...",['Robert Zemeckis'],...,0,0,0,0,0,0,0,0,0,356
6,6,The Matrix (1999),136 min,8.7,1.9M,"$63,000,000 (estimated)","$467,222,728","United States,Australia","[""Keanu Reeves,Laurence Fishburne,Carrie-Anne ...","['Lana Wachowski,Lilly Wachowski']",...,0,0,0,0,0,0,0,0,0,2571
7,8,The Lord of the Rings: The Fellowship of the R...,178 min,8.8,1.9M,"$93,000,000 (estimated)","$898,204,420","New Zealand,United States","[""Alan Howard,Noel Appleby,Sean Astin,Sala Bak...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,4993
8,10,The Godfather (1972),175 min,9.2,1.9M,"$6,000,000 (estimated)","$250,341,816",United States,"['Marlon Brando,Al Pacino,James Caan,Richard S...",['Francis Ford Coppola'],...,0,0,0,0,0,0,0,0,0,858
9,11,The Lord of the Rings: The Return of the King ...,201 min,9.0,1.9M,"$94,000,000 (estimated)","$1,146,457,748","New Zealand,United States","['Noel Appleby,Ali Astin,Sean Astin,David Asto...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,7153
10,12,Interstellar (2014),169 min,8.6,1.8M,"$165,000,000 (estimated)","$773,867,216","United States,United Kingdom,Canada","['Ellen Burstyn,Matthew McConaughey,Mackenzie ...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,109487
11,13,The Lord of the Rings: The Two Towers (2002),179 min,8.8,1.7M,"$94,000,000 (estimated)","$947,944,270","New Zealand,United States","['Bruce Allpress,Sean Astin,John Bach,Sala Bak...",['Peter Jackson'],...,0,0,0,0,0,0,0,0,0,5952
12,14,The Dark Knight Rises (2012),164 min,8.4,1.7M,"$250,000,000 (estimated)","$1,081,169,825","United States,United Kingdom","[""Christian Bale,Gary Oldman,Tom Hardy,Joseph ...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,91529
13,16,Django Unchained (2012),165 min,8.4,1.6M,"$100,000,000 (estimated)","$426,074,373",United States,"[""Jamie Foxx,Christoph Waltz,Leonardo DiCaprio...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,99114
14,17,Gladiator (2000),155 min,8.5,1.5M,"$103,000,000 (estimated)","$503,162,313","United States,United Kingdom,Malta,Morocco","['Russell Crowe,Joaquin Phoenix,Connie Nielsen...",['Ridley Scott'],...,0,0,0,0,0,0,0,0,0,3578
15,18,Batman Begins (2005),140 min,8.2,1.5M,"$150,000,000 (estimated)","$373,672,993","United States,United Kingdom","['Christian Bale,Michael Caine,Liam Neeson,Kat...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,33794
16,19,Inglourious Basterds (2009),153 min,8.3,1.5M,"$70,000,000 (estimated)","$321,457,747","Germany,United States","['Brad Pitt,Mélanie Laurent,Christoph Waltz,El...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,68157
17,20,The Silence of the Lambs (1991),118 min,8.6,1.4M,"$19,000,000 (estimated)","$272,742,922",United States,"[""Jodie Foster,Lawrence A. Bonney,Kasi Lemmons...",['Jonathan Demme'],...,0,0,0,0,0,0,0,0,0,593
18,21,The Wolf of Wall Street (2013),180 min,8.2,1.4M,"$100,000,000 (estimated)","$406,878,233",United States,"[""Leonardo DiCaprio,Jonah Hill,Margot Robbie,M...",['Martin Scorsese'],...,0,0,0,0,0,0,0,0,0,106782
19,22,Saving Private Ryan (1998),169 min,8.6,1.4M,"$70,000,000 (estimated)","$482,349,603",United States,"['Tom Hanks,Tom Sizemore,Edward Burns,Barry Pe...",['Steven Spielberg'],...,0,0,0,0,0,0,0,0,0,2028
20,24,Schindler's List (1993),195 min,9.0,1.4M,"$22,000,000 (estimated)","$322,161,245",United States,"['Liam Neeson,Ben Kingsley,Ralph Fiennes,Carol...",['Steven Spielberg'],...,0,0,0,0,0,0,0,0,0,527
21,25,The Avengers (2012),143 min,8.0,1.4M,"$220,000,000 (estimated)","$1,518,815,515",United States,"[""Robert Downey Jr.,Chris Evans,Mark Ruffalo,C...",['Joss Whedon'],...,0,0,0,0,0,0,0,0,0,89745
22,26,The Prestige (2006),130 min,8.5,1.3M,"$40,000,000 (estimated)","$109,676,311","United Kingdom,United States","['Hugh Jackman,Christian Bale,Michael Caine,Pi...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,48780
23,27,The Departed (2006),151 min,8.5,1.3M,"$90,000,000 (estimated)","$291,480,452","United States,Hong Kong","[""Leonardo DiCaprio,Matt Damon,Jack Nicholson,...",['Martin Scorsese'],...,0,0,0,0,0,0,0,0,0,48516
24,28,Shutter Island (2010),138 min,8.2,1.3M,"$80,000,000 (estimated)","$294,805,697",United States,"['Leonardo DiCaprio,Mark Ruffalo,Ben Kingsley,...",['Martin Scorsese'],...,0,0,0,0,0,0,0,0,0,74458
25,29,The Green Mile (1999),189 min,8.6,1.3M,"$60,000,000 (estimated)","$286,801,374",United States,"['Tom Hanks,David Morse,Bonnie Hunt,Michael Cl...",['Frank Darabont'],...,0,0,0,0,0,0,0,0,0,3147
26,31,Avatar (2009),162 min,7.9,1.3M,"$237,000,000 (estimated)","$2,922,917,914",United States,"['Sam Worthington,Zoe Saldana,Sigourney Weaver...",['James Cameron'],...,0,0,0,0,0,0,0,0,0,72998
27,33,Memento (2000),113 min,8.4,1.2M,"$9,000,000 (estimated)","$40,047,078",United States,"['Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,M...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,4226
28,35,Back to the Future (1985),116 min,8.5,1.2M,"$19,000,000 (estimated)","$383,336,762",United States,"[""Michael J. Fox,Christopher Lloyd,Lea Thompso...",['Robert Zemeckis'],...,0,0,0,0,0,0,0,0,0,1270
29,36,Guardians of the Galaxy (2014),121 min,8.0,1.2M,"$170,000,000 (estimated)","$773,350,147",United States,"['Chris Pratt,Zoe Saldana,Dave Bautista,Vin Di...",['James Gunn'],...,0,0,0,0,0,0,0,0,0,112852

In [60]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(titles_merged.head())

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,writer,producer,composer,cinematographer,editor,year,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,Film-Noir,Game-Show,History,Horror,Music,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,genre_nan,(Banned),12,13+,15,16+,17+,18+,ADV,ADV16,AO,All,Approved,E,E10+,F,G,GA,GP,K-A,M,M/PG,M18,MA-13,MA-17,NC-16,NC-17,NC16,Not,Open,PG,PG-13,PG13,Passed,R,R(A),R21,Rated,T,TV-13,TV-14,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan,movieId
0,0,The Shawshank Redemption (1994),142 min,9.3,2.7M,"$25,000,000 (estimated)","$28,884,504",United States,"['Tim Robbins,Morgan Freeman,Bob Gunton,Willia...",['Frank Darabont'],"['Stephen King,Frank Darabont']","['Liz Glotzer,David V. Lester,Niki Marvin']",['Thomas Newman'],['Roger Deakins'],['Richard Francis-Bruce'],1990.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,318
1,1,The Dark Knight (2008),152 min,9.0,2.7M,"$185,000,000 (estimated)","$1,006,234,167","United States,United Kingdom","[""Christian Bale,Heath Ledger,Aaron Eckhart,Mi...",['Christopher Nolan'],"['Jonathan Nolan,Christopher Nolan,Christopher...","['Kevin de la Noy,Jordan Goldberg,Philip Lee,B...","['James Newton Howard,Hans Zimmer']",['Wally Pfister'],['Lee Smith'],2000.0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,58559
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],['Christopher Nolan'],"['Zakaria Alaoui,John Bernard,Chris Brigham,Jo...",['Hans Zimmer'],['Wally Pfister'],['Lee Smith'],2000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79132
3,3,Fight Club (1999),139 min,8.8,2.1M,"$63,000,000 (estimated)","$101,209,702","Germany,United States","[""Edward Norton,Brad Pitt,Meat Loaf,Zach Greni...",['David Fincher'],"['Chuck Palahniuk,Jim Uhls']","['Ross Grayson Bell,Ceán Chaffin,John S. Dorse...","['Dust Brothers,John King,Michael Simpson']",['Jeff Cronenweth'],['James Haygood'],1990.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2959
4,4,Pulp Fiction (1994),154 min,8.9,2.1M,"$8,000,000 (estimated)","$213,928,762",United States,"['Tim Roth,Amanda Plummer,Laura Lovelace,John ...",['Quentin Tarantino'],"['Quentin Tarantino,Roger Avary,Quentin Tarant...","['Lawrence Bender,Danny DeVito,Richard N. Glad...",['nan'],['Andrzej Sekula'],['Sally Menke'],1990.0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,296

In [61]:
titles_merged[titles_merged['title'] == 'Inception (2010)']

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan,movieId
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,79132

In [62]:
titles_merged_movieId_only = titles_merged[['movieId']]
titles_merged_movieId_only.head()

   movieId
0      318
1    58559
2    79132
3     2959
4      296

# Pre-processing MovieLens' ratings dataset

In [77]:
df_ml_ratings = pd.read_csv('ml_original/ratings.csv')
df_ml_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [78]:
df_ml_ratings.drop('timestamp', axis=1, inplace=True)
df_ml_ratings

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[25000095 rows x 3 columns]

In [79]:
len(df_ml_ratings['movieId'].tolist())
# originally, we have around 25M ratings dataset

25000095

# Finding out the final number of data we have

In [86]:
final_number = df_ml_ratings[df_ml_ratings['movieId'].isin(titles_merged['movieId'].tolist())]

In [87]:
final_number.info()
print()
print(final_number.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13532791 entries, 0 to 25000093
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 413.0 MB

    userId  movieId  rating
0        1      296     5.0
3        1      665     5.0
7        1     1217     3.5
9        1     1250     4.0
12       1     2011     2.5

In [88]:
final_number.nunique()

userId     162541
movieId     21567
rating         10
dtype: int64

# We have:
# 13,532,791 ratings
# 162,541 unique userId
# 21,567 unique movies

# FINAL DATAFRAMES WE GONNA USE
# df_movies and df_ratings

In [89]:
df_movies = titles_merged
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22744 entries, 0 to 22743
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     22744 non-null  int64
 1   title            22744 non-null  object
 2   runtime          22722 non-null  object
 3   rating           22744 non-null  float64
 4   num_of_rating    22744 non-null  object
 5   budget           8347 non-null   object
 6   worldwide_gross  9264 non-null   object
 7   origin           22731 non-null  object
 8   cast             22744 non-null  object
 9   director         22744 non-null  object
 10  writer           22744 non-null  object
 11  producer         22744 non-null  object
 12  composer         22744 non-null  object
 13  cinematographer  22744 non-null  object
 14  editor           22744 non-null  object
 15  year             22744 non-null  float64
 16  Action           22744 non-null  int64
 17  Adult            22744 non-null  int64
 18  Adventure        22744 non-null  int64
 19  Animation        22744 non-null  int64
 20  Biography        22744 non-null  int64
 21  Comedy           22744 non-null  int64
 22  Crime            22744 non-null  int64
 23  Documentary      22744 non-null  int64
 24  Drama            22744 non-null  int64
 25  Family           22744 non-null  int64
 26  Fantasy          22744 non-null  int64
 27  Film-Noir        22744 non-null  int64
 28  Game-Show        22744 non-null  int64
 29  History          22744 non-null  int64
 30  Horror           22744 non-null  int64
 31  Music            22744 non-null  int64
 32  Musical          22744 non-null  int64
 33  Mystery          22744 non-null  int64
 34  News             22744 non-null  int64
 35  Reality-TV       22744 non-null  int64
 36  Romance          22744 non-null  int64
 37  Sci-Fi           22744 non-null  int64
 38  Short            22744 non-null  int64
 39  Sport            22744 non-null  int64
 40  Talk-Show        22744 non-null  int64
 41  Thriller         22744 non-null  int64
 42  War              22744 non-null  int64
 43  Western          22744 non-null  int64
 44  genre_nan        22744 non-null  int64
 45  (Banned)         22744 non-null  int64
 46  12               22744 non-null  int64
 47  13+              22744 non-null  int64
 48  15               22744 non-null  int64
 49  16+              22744 non-null  int64
 50  17+              22744 non-null  int64
 51  18+              22744 non-null  int64
 52  ADV              22744 non-null  int64
 53  ADV16            22744 non-null  int64
 54  AO               22744 non-null  int64
 55  All              22744 non-null  int64
 56  Approved         22744 non-null  int64
 57  E                22744 non-null  int64
 58  E10+             22744 non-null  int64
 59  F                22744 non-null  int64
 60  G                22744 non-null  int64
 61  GA               22744 non-null  int64
 62  GP               22744 non-null  int64
 63  K-A              22744 non-null  int64
 64  M                22744 non-null  int64
 65  M/PG             22744 non-null  int64
 66  M18              22744 non-null  int64
 67  MA-13            22744 non-null  int64
 68  MA-17            22744 non-null  int64
 69  NC-16            22744 non-null  int64
 70  NC-17            22744 non-null  int64
 71  NC16             22744 non-null  int64
 72  Not              22744 non-null  int64
 73  Open             22744 non-null  int64
 74  PG               22744 non-null  int64
 75  PG-13            22744 non-null  int64
 76  PG13             22744 non-null  int64
 77  Passed           22744 non-null  int64
 78  R                22744 non-null  int64
 79  R(A)             22744 non-null  int64
 80  R21              22744 non-null  int64
 81  Rated            22744 non-null  int64
 82  T                22744 non-null  int64
 83  TV-13            22744 non-null  int64
 84  TV-14            22744 non-null  int64
 85  TV-G             22744 non-null  int64
 86  TV-MA            22744 non-null  int64
 87  TV-PG            22744 non-null  int64
 88  TV-Y             22744 non-null  int64
 89  TV-Y7            22744 non-null  int64
 90  TV-Y7-FV         22744 non-null  int64
 91  U/A              22744 non-null  int64
 92  Unrated          22744 non-null  int64
 93  X                22744 non-null  int64
 94  certificate_nan  22744 non-null  int64
 95  movieId          22744 non-null  int64
dtypes: float64(2), int64(81), object(13)
memory usage: 16.8+ MB

In [90]:
df_movies

,Unnamed: 0.1,title,runtime,rating,num_of_rating,budget,worldwide_gross,origin,cast,director,...,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,certificate_nan,movieId
0,0,The Shawshank Redemption (1994),142 min,9.3,2.7M,"$25,000,000 (estimated)","$28,884,504",United States,"['Tim Robbins,Morgan Freeman,Bob Gunton,Willia...",['Frank Darabont'],...,0,0,0,0,0,0,0,0,0,318
1,1,The Dark Knight (2008),152 min,9.0,2.7M,"$185,000,000 (estimated)","$1,006,234,167","United States,United Kingdom","[""Christian Bale,Heath Ledger,Aaron Eckhart,Mi...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,58559
2,2,Inception (2010),148 min,8.8,2.4M,"$160,000,000 (estimated)","$836,848,102","United States,United Kingdom","['Leonardo DiCaprio,Joseph Gordon-Levitt,Ellio...",['Christopher Nolan'],...,0,0,0,0,0,0,0,0,0,79132
3,3,Fight Club (1999),139 min,8.8,2.1M,"$63,000,000 (estimated)","$101,209,702","Germany,United States","[""Edward Norton,Brad Pitt,Meat Loaf,Zach Greni...",['David Fincher'],...,0,0,0,0,0,0,0,0,0,2959
4,4,Pulp Fiction (1994),154 min,8.9,2.1M,"$8,000,000 (estimated)","$213,928,762",United States,"['Tim Roth,Amanda Plummer,Laura Lovelace,John ...",['Quentin Tarantino'],...,0,0,0,0,0,0,0,0,0,296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22739,113506,Doggiewoggiez! Poochiewoochiez! (2012),55 min,6.8,182,"$2,000 (estimated)",NaN,United States,"['Tim Allen,Michael Badalucco,Jim Belushi,Matt...",['nan'],...,0,0,0,0,0,0,0,0,1,120134
22740,113558,Bobbikins (1959),89 min,5.0,182,NaN,NaN,United Kingdom,"[""Shirley Jones,Max Bygraves,Billie Whitelaw,B...",['Robert Day'],...,0,0,0,0,0,0,0,0,0,113682
22741,113574,Vallen (2001),105 min,5.8,182,NaN,NaN,Belgium,"['Lee Williams,Emma Thomas,Alice Krige,Lydia C...",['Hans Herbots'],...,0,0,0,0,0,0,0,0,1,150064
22742,113590,Exclusive Story (1936),73 min,6.0,182,NaN,NaN,United States,"[""Franchot Tone,Madge Evans,Stuart Erwin,Josep...",['George B. Seitz'],...,0,0,0,0,0,0,0,0,0,150944
22743,113618,His Wooden Wedding (1925),20 min,7.4,182,NaN,NaN,United States,"[""Charley Chase,Katherine Grant,Gale Henry,Fre...",['Leo McCarey'],...,0,0,0,0,0,0,0,0,0,205150

In [93]:
df_ratings = final_number

In [94]:
df_ratings.sort_values(by='movieId', inplace=True)

C:\Users\Kevan\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [96]:
df_ratings

          userId  movieId  rating
19389804  125865        1     3.0
1088714     7345        1     4.5
2060498    13725        1     4.0
11049761   71846        1     3.0
9887084    64189        1     4.5
...          ...      ...     ...
6048882    39183   208941     3.0
14274070   92412   208943     2.0
13009941   84238   209041     3.0
2278203    15152   209053     3.5
22421588  145795   209145     1.0

[13532791 rows x 3 columns]