In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('datasets/movielens_original/ratings.csv')
df_movie = pd.read_csv('datasets/movielens_original/movies.csv')

In [3]:
df = df.merge(df_movie, how="left", on="movieId")

In [4]:
df_train, df_val = train_test_split(df, random_state=42, test_size=0.2, stratify=df.rating)

In [5]:
movies_ids = list(set(list(df_train.movieId.unique()) + list(df_val.movieId.unique())))
users_ids = list(set(list(df_train.userId.unique()) + list(df_val.userId.unique())))

dict_movies = {}
index = 0

for ids in sorted(movies_ids):
    dict_movies[ids] = index
    index += 1

dict_users = {}
index = 0
for ids in sorted(users_ids):
    dict_users[ids] = index
    index += 1

df_train["movieId"] = df_train["movieId"].map(dict_movies)
df_val["movieId"] = df_val["movieId"].map(dict_movies)

df_train["userId"] = df_train["userId"].map(dict_users)
df_val["userId"] = df_val["userId"].map(dict_users)

In [6]:
for col in ["userId", "movieId", "rating"]:
    df_train[col] = df_train[col].astype(np.float32)
    df_val[col] = df_val[col].astype(np.float32)

num_unique_users = len(set(list(df_train.userId.unique()) + list(df_val.userId.unique())))
num_unique_movies = len(set(list(df_train.movieId.unique()) + list(df_val.movieId.unique())))

min_rating=min(df_train.rating.min(), df_val.rating.min())
max_rating=max(df_train.rating.max(), df_val.rating.max())

In [7]:
import tensorflow as tf
from tensorflow.keras import Model, regularizers
from tensorflow.keras import optimizers as opt
from tensorflow.keras.layers import Embedding, multiply, concatenate, Flatten, Input, Dense

In [8]:
EMBEDDING_SIZE = 16

users_input = Input(shape=(1,), name="users_input")
users_embedding = Embedding(
    num_unique_users + 1, 
    EMBEDDING_SIZE, 
    name="users_embeddings"
)(users_input)
users_bias = Embedding(num_unique_users + 1, 1, name="users_bias")(users_input)

movies_input = Input(shape=(1,), name="movies_input")
movies_embedding = Embedding(
    num_unique_movies + 1, 
    EMBEDDING_SIZE, 
    name="movies_embeddings"
)(movies_input)
movies_bias = Embedding(num_unique_movies + 1, 1, name="movies_bias")(movies_input)

dot_product_users_movies = multiply([users_embedding, movies_embedding])

input_terms = dot_product_users_movies + users_bias + movies_bias

input_terms = Flatten(name="fl_inputs")(input_terms)

output = Dense(1, activation="sigmoid", name="output")(input_terms) 
output = output * (max_rating - min_rating) + min_rating

In [9]:
model = Model(inputs=[users_input, movies_input], outputs=output)

opt_adam = opt.Adam(learning_rate = 0.01)
model.compile(
    optimizer=opt_adam, 
    loss= ['mse'], 
    metrics=['mean_absolute_error']
)

In [10]:
model.fit(
    x=[df_train.userId, df_train.movieId], 
    y=df_train.rating, 
    batch_size=20000076, 
    epochs=500, 
    verbose=1
)

Epoch 1/500
1/1 [==============================] - 14s 14s/step - loss: 1.7395 - mean_absolute_error: 1.1269
Epoch 2/500
1/1 [==============================] - 9s 9s/step - loss: 1.7156 - mean_absolute_error: 1.1171
Epoch 3/500
1/1 [==============================] - 6s 6s/step - loss: 1.6854 - mean_absolute_error: 1.1045
Epoch 4/500
1/1 [==============================] - 5s 5s/step - loss: 1.6479 - mean_absolute_error: 1.0884
Epoch 5/500
1/1 [==============================] - 4s 4s/step - loss: 1.6032 - mean_absolute_error: 1.0687
Epoch 6/500

KeyboardInterrupt:

In [482]:
model.evaluate([df_val.userId, df_val.movieId])

631/631 [==============================] - 0s 487us/step - loss: 0.0000e+00 - mean_absolute_error: 0.0000e+00

[0.0, 0.0]

In [483]:
user_id = 585
predicted_rating = model.predict([pd.Series([user_id]*len(dict_movies)), pd.Series(dict_movies.values())])
predicted_rating = pd.DataFrame(predicted_rating)
predicted_rating

304/304 [==============================] - 0s 475us/step

             0
0     4.044148
1     3.991875
2     1.205170
3     3.937061
4     2.624672
...        ...
9719  4.193071
9720  4.154930
9721  4.039078
9722  4.168944
9723  4.520655

[9724 rows x 1 columns]

In [484]:
a = pd.DataFrame(dict_movies.keys(), columns=['movieId']).merge(df_movie, how="left", on="movieId")
a

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9721,193585,Flint (2017),Drama
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [485]:
result = pd.concat([a, predicted_rating], axis=1)
not_watched = result[~result.movieId.isin(movies_watched_by_user.movieId.values)]
top_10 = not_watched.sort_values(0, ascending=False)[['title', 'genres']].head(10)

top_10

,title,genres
3633,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
901,Aliens (1986),Action|Adventure|Horror|Sci-Fi
917,Ran (1985),Drama|War
1260,Starship Troopers (1997),Action|Sci-Fi
681,Singin' in the Rain (1952),Comedy|Musical|Romance
2019,Run Lola Run (Lola rennt) (1998),Action|Crime
1374,Fear and Loathing in Las Vegas (1998),Adventure|Comedy|Drama
8677,Guardians of the Galaxy 2 (2017),Action|Adventure|Sci-Fi
409,"Hudsucker Proxy, The (1994)",Comedy
994,Real Genius (1985),Comedy

In [439]:
not_watched[not_watched.title.apply(lambda x: 'Taken' in x)]

      movieId           title                       genres         0
6729    59369    Taken (2008)  Action|Crime|Drama|Thriller  4.999774
7973    96861  Taken 2 (2012)  Action|Crime|Drama|Thriller  4.996769
8632   120635  Taken 3 (2015)        Action|Crime|Thriller  4.995907

In [486]:
df[(df.userId == 586) & (df.title.apply(lambda x: 'Harry' in x))]

,userId,movieId,rating,timestamp,title,genres
90133,586,8368,5.0,1529899519,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX
90149,586,54001,4.5,1529899314,Harry Potter and the Order of the Phoenix (2007),Adventure|Drama|Fantasy|IMAX

In [487]:
not_watched[not_watched.title.apply(lambda x: 'Harry Potter' in x)]

,movieId,title,genres,0
3569,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.774970
4070,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,1.467965
5156,8368,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,4.979462
6045,40815,Harry Potter and the Goblet of Fire (2005),Adventure|Fantasy|Thriller|IMAX,2.561948
6505,54001,Harry Potter and the Order of the Phoenix (2007),Adventure|Drama|Fantasy|IMAX,4.490459
7061,69844,Harry Potter and the Half-Blood Prince (2009),Adventure|Fantasy|Mystery|Romance|IMAX,4.955557
7448,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,2.640421
7626,88125,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX,3.013352

In [488]:
df[(df.userId == 586) & (df.title.apply(lambda x: 'Thor' in x))]

,userId,movieId,rating,timestamp,title,genres
90226,586,122916,4.5,1529899181,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi

In [489]:
not_watched[not_watched.title.apply(lambda x: 'Thor' in x)]

,movieId,title,genres,0
4397,6480,Thoroughly Modern Millie (1967),Comedy|Musical,4.297421
7571,86332,Thor (2011),Action|Adventure|Drama|Fantasy|IMAX,4.221145
8271,106072,Thor: The Dark World (2013),Action|Adventure|Fantasy|IMAX,2.982473
8676,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,4.499731
9400,165639,While You Were Fighting: A Thor Mockumentary (...,Comedy|Fantasy|Sci-Fi,4.322000

## Weight & Bias Analysis

In [63]:
dict_weights = {}
for layer in model.layers:
    if layer.name in ["users_embeddings", "movies_embeddings"]:
        dict_weights[layer.name] = layer.weights

In [91]:
df_movies_embeddings = pd.DataFrame(dict_weights["movies_embeddings"][0].numpy())
df_movies_embeddings.columns = ["emb_" + str(col) for col in df_movies_embeddings.columns]
df_movies_embeddings.reset_index(inplace=True)
df_movies_embeddings.rename(columns={"index":"movieId"}, inplace=True)
df_movies_embeddings = df_movies_embeddings.merge(df_train[["movieId", "title"]].drop_duplicates(), how="left", on="movieId")

In [92]:
from sklearn.cluster import KMeans
km = KMeans(100)
km.fit(df_movies_embeddings[[col for col in df_movies_embeddings.columns if "emb" in col]])
clusters = km.predict(df_movies_embeddings[[col for col in df_movies_embeddings.columns if "emb" in col]])

In [93]:
df_movies_embeddings["cluster"] = clusters

In [94]:
df_movies_embeddings[df_movies_embeddings.cluster==49].title.unique()

array(['Clockers (1995)', 'Walk in the Clouds, A (1995)',
       'Bushwhacked (1995)', 'Secret of Roan Inish, The (1994)',
       'Timecop (1994)', 'Beverly Hills Cop III (1994)',
       'Demolition Man (1993)', 'Sliver (1993)', 'Solo (1996)',
       'Delta of Venus (1995)', 'Chain Reaction (1996)',
       'Crow: City of Angels, The (1996)', 'Basquiat (1996)',
       'Set It Off (1996)', 'Shadow Conspiracy (1997)',
       'Victor/Victoria (1982)', 'Body Parts (1991)',
       'Paradise Lost: The Child Murders at Robin Hood Hills (1996)',
       'Jaws 3-D (1983)', 'Fierce Creatures (1997)',
       'Absolute Power (1997)', 'Out to Sea (1997)', 'G.I. Jane (1997)',
       'Picture Perfect (1997)', 'Kull the Conqueror (1997)',
       'RocketMan (a.k.a. Rocket Man) (1997)', 'House of Yes, The (1997)',
       'Stranger in the House (1997)',
       'Friday the 13th Part IV: The Final Chapter (1984)',
       'Halloween II (1981)', 'Freaky Friday (1977)', 'Popeye (1980)',
       'Tall Tale (1995)', 'Practical Magic (1998)', 'Mona Lisa (1986)',
       'Rugrats Movie, The (1998)',
       'Police Academy 2: Their First Assignment (1985)',
       'Rambo: First Blood Part II (1985)', 'Civil Action, A (1998)',
       'Simply Irresistible (1999)', 'Alligator (1980)',
       'Ravenous (1999)', 'Superman IV: The Quest for Peace (1987)',
       'Frankenstein Meets the Wolf Man (1943)',
       'Red Violin, The (Violon rouge, Le) (1998)', 'Trekkies (1997)',
       'Brighton Beach Memoirs (1986)',
       'Allan Quatermain and the Lost City of Gold (1987)',
       'Universal Soldier: The Return (1999)', 'Iron Eagle II (1988)',
       'Aces: Iron Eagle III (1992)', 'Medicine Man (1992)',
       'Caligula (1979)', 'Simon Sez (1999)', 'Drive Me Crazy (1999)',
       'South Pacific (1958)', 'Three to Tango (1999)',
       'Stand and Deliver (1988)', 'Babes in Toyland (1934)',
       'End of Days (1999)', 'Zed & Two Noughts, A (1985)',
       'Howards End (1992)', 'Gun Shy (2000)', 'Snow Day (2000)',
       'Drowning Mona (2000)', 'Band of the Hand (1986)',
       'Inherit the Wind (1960)', 'Road to El Dorado, The (2000)',
       'U-571 (2000)', 'Jennifer 8 (1992)', 'Carnosaur 2 (1995)',
       'Screwed (2000)', 'Whipped (2000)', 'Bird on a Wire (1990)',
       'Braddock: Missing in Action III (1988)',
       "Brain That Wouldn't Die, The (1962)", 'Crew, The (2000)',
       'Men of Honor (2000)', 'Living Daylights, The (1987)',
       "I'm Gonna Git You Sucka (1988)",
       'Brave Little Toaster, The (1987)', 'Ernest Goes to Camp (1987)',
       'My Demon Lover (1987)',
       'Harley Davidson and the Marlboro Man (1991)', "Losin' It (1983)",
       'Ernest Saves Christmas (1988)',
       'My Stepmother Is an Alien (1988)', 'Short Circuit 2 (1988)',
       'Lean on Me (1989)', 'Pink Cadillac (1989)',
       'Musketeer, The (2001)', 'Spy Game (2001)', 'Cadillac Man (1990)',
       'Undercover Brother (2002)', 'Bad Company (2002)',
       'K-19: The Widowmaker (2002)',
       'Spy Kids 2: The Island of Lost Dreams (2002)',
       'Take This Job and Shove It (1981)', 'Die Another Day (2002)',
       'I Spit on Your Grave (Day of the Woman) (1978)',
       'Analyze That (2002)', 'Drumline (2002)', 'Just Married (2003)',
       'Bringing Down the House (2003)', 'Boat Trip (2003)',
       'Holes (2003)', 'Beginning of the End (1957)', 'Car Wash (1976)',
       'Oscar (1991)', 'Campus Man (1987)', 'Tormented (1960)',
       'Perfect Score, The (2004)', 'You Only Live Twice (1967)',
       'Octopussy (1983)', 'Never Say Never Again (1983)',
       'Rose Red (2002)', 'This Island Earth (1955)', 'Overboard (1987)',
       'Secret Society (2002)', 'Mask (1985)',
       'Clonus Horror, The (1979)', 'Major League II (1994)',
       'Hitch (2005)', 'Uncle Nino (2003)',
       'Miss Congeniality 2: Armed and Fabulous (2005)',
       'Fever Pitch (2005)', 'Mr. & Mrs. Smith (2005)',
       'Flightplan (2005)', 'Firewall (2006)', 'Slither (2006)',
       'Last Kiss, The (2006)', 'Freedom Writers (2007)',
       'Disturbia (2007)', 'Game Plan, The (2007)', 'Enchanted (2007)',
       'Drillbit Taylor (2008)',
       'Futurama: The Beast with a Billion Backs (2008)',
       "Futurama: Bender's Game (2008)", 'Camp Rock (2008)',
       'Inkheart (2008)', 'Futurama: Into the Wild Green Yonder (2009)',
       'Strictly Sexual (2008)', 'Taking of Pelham 1 2 3, The (2009)',
       'Goods: Live Hard, Sell Hard, The (2009)',
       "Time Traveler's Wife, The (2009)", 'Informant!, The (2009)',
       'I Sell the Dead (2008)', 'Gentlemen Broncos (2009)',
       'Bad Lieutenant: Port of Call New Orleans (2009)',
       "It's Complicated (2009)", 'Greenberg (2010)',
       'Death at a Funeral (2010)', 'Robin Hood (2010)', 'Killers (2010)',
       'Shrek Forever After (a.k.a. Shrek: The Final Chapter) (2010)',
       'Last Airbender, The (2010)', 'South Park: Imaginationland (2008)',
       "Sorcerer's Apprentice, The (2010)", 'Salt (2010)',
       'Resident Evil: Afterlife (2010)', 'Easy A (2010)',
       'Wall Street: Money Never Sleeps (2010)',
       'Green Hornet, The (2011)', 'Amer (2009)',
       'Cowboys & Aliens (2011)', 'Battle: Los Angeles (2011)',
       'Elite Squad: The Enemy Within (Tropa de Elite 2 - O Inimigo Agora É Outro) (2010)',
       'Big Mommas: Like Father, Like Son (2011)', 'Super (2010)',
       'Arthur (2011)', 'Rio (2011)', 'Elektra Luxx (2010)',
       'Change-Up, The (2011)', 'Killer Elite (2011)',
       'Martha Marcy May Marlene (2011)', 'Double, The (2011)',
       'Rum Diary, The (2011)', 'Violet & Daisy (2011)',
       'Whistleblower, The (2010)', 'One for the Money (2012)',
       'John Carter (2012)', 'Wrath of the Titans (2012)',
       'Big Bang, The (2011)', 'Best Exotic Marigold Hotel, The (2011)',
       'Total Recall (2012)', 'ParaNorman (2012)', 'Premium Rush (2012)',
       'Piranha 3DD (a.k.a. Piranha DD) (2012)', "That's My Boy (2012)",
       'Fire with Fire (2012)', 'Guilt Trip, The (2012)',
       'Good Day to Die Hard, A (2013)', '21 and Over (2013)',
       'Admission (2013)', 'Oblivion (2013)',
       'Hangover Part III, The (2013)', 'Purge, The (2013)',
       'World War Z (2013)', 'Lone Ranger, The (2013)', 'R.I.P.D. (2013)',
       'Kick-Ass 2 (2013)', 'Getaway (2013)', 'Inescapable (2012)',
       'Bad Milo (Bad Milo!) (2013)', 'Runner Runner (2013)',
       '47 Ronin (2013)', 'Grudge Match (2013)', 'Ride Along (2014)',
       'Enemy (2013)', 'Zero Theorem, The (2013)',
       'About Last Night (2014)', 'Welcome to the Jungle (2013)',
       'Sex Tape (2014)', 'Purge: Anarchy, The (2014)',
       'Teenage Mutant Ninja Turtles (2014)', "Let's Be Cops (2014)",
       'This Is Where I Leave You (2014)', 'American Sniper (2014)',
       'Two Night Stand (2014)', 'Drive Hard (2014)',
       'Inherent Vice (2014)', 'Dumb and Dumber To (2014)',
       'In the Heart of the Sea (2015)', 'The Mule (2014)',
       'Night at the Museum: Secret of the Tomb (2014)',
       'Seventh Son (2014)', 'Wicked Blood (2014)', 'Warcraft (2016)',
       'Fantastic Four (2015)', 'American Heist (2015)',
       'True Story (2015)', 'The Overnight (2015)',
       'The Wedding Ringer (2015)', 'Tracers (2015)',
       'Last Knights (2015)', 'Paul Blart: Mall Cop 2 (2015)',
       'Sword of Vengeance (2014)', 'Just Before I Go (2014)',
       'Independence Day: Resurgence (2016)',
       'Sharknado 3: Oh Hell No! (2015)', 'Wild Horses (2015)',
       'Search Party (2014)', 'Careful What You Wish For (2015)',
       'Secret in Their Eyes (2015)', 'Victor Frankenstein (2015)',
       'Anti-Social (2015)', 'Concussion (2015)',
       'Kung Fu Panda 3 (2016)', 'Get a Job (2016)', 'Keanu (2016)',
       'The Boss (2016)', 'Precious Cargo (2016)', 'Ghostbusters (2016)',
       'Vigilante Diaries (2016)', 'Body (2015)'], dtype=object)

In [95]:
df_movies_embeddings[df_movies_embeddings.title == 'Star Wars: Episode IV - A New Hope (1977)'].cluster.values[0]

69

In [96]:
df_movies_embeddings[df_movies_embeddings.cluster==df_movies_embeddings[df_movies_embeddings.title == 'Harry Potter and the Chamber of Secrets (2002)'].cluster.values[0]].title.unique()

array(['Postman, The (Postino, Il) (1994)',
       "Antonia's Line (Antonia) (1995)",
       'Bridges of Madison County, The (1995)',
       'Up Close and Personal (1996)', 'French Kiss (1995)',
       'Tommy Boy (1995)', 'Forrest Gump (1994)', 'Pretty Woman (1990)',
       'Wallace & Gromit: The Best of Aardman Animation (1996)',
       'Tin Cup (1996)', 'All About Eve (1950)', 'Mary Poppins (1964)',
       'People vs. Larry Flynt, The (1996)',
       'Cinema Paradiso (Nuovo cinema Paradiso) (1989)',
       'Good Will Hunting (1997)', 'Shakespeare in Love (1998)',
       'For Your Eyes Only (1981)', 'Fatal Attraction (1987)',
       'Hook (1991)',
       'Girl on the Bridge, The (Fille sur le pont, La) (1999)',
       'Ghost World (2001)', 'Monsters, Inc. (2001)',
       "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
       'Black Hawk Down (2001)', 'Reign of Fire (2002)',
       'Harry Potter and the Chamber of Secrets (2002)',
       'Harry Potter and the Prisoner of Azkaban (2004)',
       'Harry Potter and the Order of the Phoenix (2007)',
       'Harry Potter and the Half-Blood Prince (2009)',
       'Iron Man 2 (2010)', "King's Speech, The (2010)", 'Skyfall (2012)',
       'Hobbit: An Unexpected Journey, The (2012)',
       'Hobbit: The Desolation of Smaug, The (2013)', 'Maleficent (2014)',
       'Big Hero 6 (2014)',
       'The Hunger Games: Mockingjay - Part 1 (2014)'], dtype=object)

In [120]:
df_movies_embeddings[df_movies_embeddings.cluster==df_movies_embeddings[df_movies_embeddings.title == 'Batman: The Dark Knight Returns, Part 1 (2012)'].cluster.values[0]].title.unique()

array(['Bed of Roses (1996)', 'Die Hard: With a Vengeance (1995)',
       'Just Cause (1995)', 'Outbreak (1995)', 'True Lies (1994)',
       'Last Action Hero (1993)', 'Three Musketeers, The (1993)',
       'Primal Fear (1996)',
       'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
       'Craft, The (1996)', 'Phenomenon (1996)',
       'Harold and Maude (1971)', 'Groundhog Day (1993)',
       'Indiana Jones and the Last Crusade (1989)',
       'American Werewolf in London, An (1981)',
       'Seven Years in Tibet (1997)', 'Life Less Ordinary, A (1997)',
       'Mulan (1998)', 'Rocky (1976)', 'Halloween (1978)',
       'Gremlins (1984)', 'Muppet Christmas Carol, The (1992)',
       'Rocketeer, The (1991)', 'Blade (1998)', 'Waterboy, The (1998)',
       'Karate Kid, Part II, The (1986)', 'Goldfinger (1964)',
       'From Russia with Love (1963)', 'Commitments, The (1991)',
       'Galaxy Quest (1999)', 'Spy Who Loved Me, The (1977)',
       'X-Men (2000)', 'Remember the Titans (2000)',
       'Atlantis: The Lost Empire (2001)', 'Joy Ride (2001)',
       'Dirty Harry (1971)', 'Majestic, The (2001)', 'Blade II (2002)',
       'Three Men and a Baby (1987)', 'Identity (2003)',
       'Commando (1985)', 'Over the Top (1987)', 'Wild at Heart (1990)',
       'Happy Together (a.k.a. Buenos Aires Affair) (Chun gwong cha sit) (1997)',
       'Warriors, The (1979)', 'Infernal Affairs (Mou gaan dou) (2002)',
       'Ray (2004)', 'Batman Beyond: Return of the Joker (2000)',
       'Saving Face (2004)', 'Land of the Dead (2005)',
       'Descent, The (2005)', 'Silent Hill (2006)',
       'Mission: Impossible III (2006)', 'Rocky Balboa (2006)',
       '1408 (2007)', 'Stardust (2007)', '3:10 to Yuma (2007)',
       "Shoot 'Em Up (2007)", 'Into the Wild (2007)', '[REC] (2007)',
       'Red Cliff (Chi bi) (2008)',
       'How to Lose Friends & Alienate People (2008)', 'Ip Man (2008)',
       'Moon (2009)', 'District 9 (2009)',
       'Batman: Under the Red Hood (2010)',
       'Tucker & Dale vs Evil (2010)', 'Day & Night (2010)',
       'All-Star Superman (2011)', 'Rango (2011)', 'BURN-E (2008)',
       'Thor (2011)',
       'Pirates of the Caribbean: On Stranger Tides (2011)',
       'Kung Fu Panda 2 (2011)', 'Batman: Year One (2011)',
       'Muppets, The (2011)', "Dr. Seuss' The Lorax (2012)",
       'Lockout (2012)', 'The Raid: Redemption (2011)',
       'Mirror Mirror (2012)',
       'Men in Black III (M.III.B.) (M.I.B.³) (2012)',
       'Superman/Batman: Public Enemies (2009)',
       'Seven Psychopaths (2012)',
       'Batman: The Dark Knight Returns, Part 1 (2012)',
       'Paperman (2012)',
       'Batman: The Dark Knight Returns, Part 2 (2013)',
       'Pain & Gain (2013)', 'Justice League: Doom (2012) ',
       'Rush (2013)', 'Wonder Woman (2009)',
       'Captain America: The Winter Soldier (2014)',
       'X-Men: Days of Future Past (2014)',
       'Guardians of the Galaxy (2014)', 'Fury (2014)',
       'Ex Machina (2015)', 'Avengers: Age of Ultron (2015)',
       'Ant-Man (2015)', 'Guardians of the Galaxy 2 (2017)',
       'Captain America: Civil War (2016)', 'Doctor Strange (2016)',
       'Untitled Spider-Man Reboot (2017)',
       'Doctor Who: A Christmas Carol (2010)', 'Zootopia (2016)',
       'Inferno (2016)', 'Rogue One: A Star Wars Story (2016)',
       'The Lego Batman Movie (2017)', 'Logan (2017)',
       'The Boss Baby (2017)', 'A Detective Story (2003)'], dtype=object)

In [119]:
df_movie[df_movie.title.apply(lambda x: 'Batman' in x)]

,movieId,title,genres
126,153,Batman Forever (1995),Action|Adventure|Comedy|Crime
509,592,Batman (1989),Action|Crime|Thriller
1060,1377,Batman Returns (1992),Action|Crime
1174,1562,Batman & Robin (1997),Action|Adventure|Fantasy|Thriller
2418,3213,Batman: Mask of the Phantasm (1993),Animation|Children
5463,26152,Batman (1966),Action|Adventure|Comedy
5620,27155,"Batman/Superman Movie, The (1998)",Action|Adventure|Animation|Children|Fantasy|Sc...
5631,27311,Batman Beyond: Return of the Joker (2000),Action|Animation|Crime|Sci-Fi|Thriller
5917,33794,Batman Begins (2005),Action|Crime|IMAX
6815,60979,Batman: Gotham Knight (2008),Action|Animation|Crime
7380,79274,Batman: Under the Red Hood (2010),Action|Animation
7731,90603,Batman: Year One (2011),Action|Animation|Crime
7903,95149,Superman/Batman: Public Enemies (2009),Action|Animation|Fantasy
8032,98124,"Batman: The Dark Knight Returns, Part 1 (2012)",Action|Animation|Sci-Fi
8080,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation
8195,103233,LEGO Batman: The Movie - DC Heroes Unite (2013),Action|Adventure|Animation
8234,104141,Batman: Mystery of the Batwoman (2003),Action|Animation|Children|Crime
8486,113278,Batman: Assault on Arkham (2014),Action|Animation|Crime|Thriller
8829,131739,Batman vs. Robin (2015),Action|Adventure|Animation
8963,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Fantasy|Sci-Fi
9355,161354,Batman: The Killing Joke (2016),Action|Animation|Crime|Drama
9452,167746,The Lego Batman Movie (2017),Action|Animation|Comedy

In [89]:
user_ids = df["userId"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}
movie_ids = df["movieId"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}

In [91]:
# Let us get a user and see the top recommendations.
# user_id = ratings.userId.sample(1).iloc[0]
user_id = 252
movies_watched_by_user = df[df.userId == user_id]
movies_not_watched = df_movie[
    ~df_movie["movieId"].isin(movies_watched_by_user.movieId.values)
]["movieId"]
movies_not_watched = list(
    set(movies_not_watched).intersection(set(movie2movie_encoded.keys()))
)
#  mungkin salah di 2 paragraf di bawah vvvvv=============================================================================================================vvvvv
movies_not_watched = [[movie2movie_encoded.get(x)] for x in movies_not_watched]
user_encoder = user2user_encoded.get(user_id)
user_movie_array = np.hstack(
    ([[user_encoder]] * len(movies_not_watched), movies_not_watched)
)
result = model.predict([df_train.userId, df_train.movieId]).flatten()
top_ratings_indices = result.argsort()[-15:][::-1]
recommended_movie_ids = [
    movie_encoded2movie.get(movies_not_watched[x][0]) for x in top_ratings_indices
]

print("Showing recommendations for user: {}".format(user_id))
print("====" * 9)
print("Movies with high ratings from user")
print("----" * 8)
top_movies_user = (
    movies_watched_by_user.sort_values(by="rating", ascending=False)
    .head(5)
    .movieId.values
)
movies_rows = movies[movies["movieId"].isin(top_movies_user)]
for row in movies_rows.itertuples():
    print(row.title, ":", row.genres)

print("----" * 8)
print("Top 10 movie recommendations")
print("----" * 8)
recommended_movies = movies[movies["movieId"].isin(recommended_movie_ids)]
for row in recommended_movies.itertuples():
    print(row.title, ":", row.genres)

2521/2521 [==============================] - 3s 1ms/step

IndexError: list index out of range

In [100]:
tes = model.predict([df.userId, df.movieId])

   1/3152 [..............................] - ETA: 3:55

InvalidArgumentError: Graph execution error:

Detected at node 'model_3/movies_embeddings/embedding_lookup' defined at (most recent call last):
    File "C:\Users\Vincent\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "C:\Users\Vincent\anaconda3\lib\runpy.py", line 87, in _run_code
      exec(code, run_globals)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
      app.launch_new_instance()
    File "C:\Users\Vincent\anaconda3\lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
      app.start()
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
      self.io_loop.start()
    File "C:\Users\Vincent\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
      self.asyncio_loop.run_forever()
    File "C:\Users\Vincent\anaconda3\lib\asyncio\base_events.py", line 601, in run_forever
      self._run_once()
    File "C:\Users\Vincent\anaconda3\lib\asyncio\base_events.py", line 1905, in _run_once
      handle._run()
    File "C:\Users\Vincent\anaconda3\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
      await self.process_one()
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
      await dispatch(*args)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
      await result
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
      reply_content = await reply_content
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 383, in do_execute
      res = shell.run_cell(
    File "C:\Users\Vincent\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
      return super().run_cell(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2940, in run_cell
      result = self._run_cell(
    File "C:\Users\Vincent\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2995, in _run_cell
      return runner(coro)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
      coro.send(None)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3194, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "C:\Users\Vincent\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3373, in run_ast_nodes
      if await self.run_code(code, result, async_=asy):
    File "C:\Users\Vincent\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\Vincent\AppData\Local\Temp\ipykernel_23916\128719125.py", line 1, in <module>
      tes = model.predict([df.userId, df.movieId])
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\training.py", line 2350, in predict
      tmp_batch_outputs = self.predict_function(iterator)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\training.py", line 2137, in predict_function
      return step_function(self, iterator)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\training.py", line 2123, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\training.py", line 2111, in run_step
      outputs = model.predict_step(data)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\training.py", line 2079, in predict_step
      return self(x, training=False)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\training.py", line 561, in __call__
      return super().__call__(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\base_layer.py", line 1132, in __call__
      outputs = call_fn(inputs, *args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 96, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\functional.py", line 511, in call
      return self._run_internal_graph(inputs, training=training, mask=mask)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\functional.py", line 668, in _run_internal_graph
      outputs = node.layer(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\engine\base_layer.py", line 1132, in __call__
      outputs = call_fn(inputs, *args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 96, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\Vincent\anaconda3\lib\site-packages\keras\layers\core\embedding.py", line 208, in call
      out = tf.nn.embedding_lookup(self.embeddings, inputs)
Node: 'model_3/movies_embeddings/embedding_lookup'
indices[14,0] = 46970 is not in [0, 9725)
	 [[{{node model_3/movies_embeddings/embedding_lookup}}]] [Op:__inference_predict_function_92164]

In [104]:
tes[4]

array([3.4973595], dtype=float32)

In [105]:
df_train[df_train.userId == 598]

,userId,movieId,rating,timestamp,title,genres
92899,598.0,584.0,3.0,1498525383,Multiplicity (1996),Comedy
94202,598.0,4619.0,3.0,1498521974,Elephant (2003),Drama
94201,598.0,4617.0,1.5,1498505002,Scary Movie 3 (2003),Comedy|Horror
94891,598.0,7963.0,2.5,1498532657,Robot & Frank (2012),Comedy|Drama|Sci-Fi
94489,598.0,5920.0,2.5,1498515064,Fantastic Four (2005),Action|Adventure|Sci-Fi
...,...,...,...,...,...,...
93232,598.0,1348.0,2.5,1519146702,City of Angels (1998),Drama|Fantasy|Romance
94939,598.0,8267.0,3.5,1498528415,12 Years a Slave (2013),Drama
93458,598.0,1957.0,2.5,1498513853,Lost & Found (1999),Comedy|Romance
92766,598.0,311.0,2.5,1498517384,"Crow, The (1994)",Action|Crime|Fantasy|Thriller
94790,598.0,7472.0,3.0,1498524675,I Saw the Devil (Akmareul boatda) (2010),Crime|Thriller